.dropdown{
  font-family: $montserrat;
  font-size: 12px;
  width: 100%;
  position: relative;
  &__title{
    color: $dark-shade-100;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  &__wrapper{
    width: 100%;
    position: relative;
  }
  &__arrow{
    font-family: $material-icons;
    font-size: 24px;
    line-height: 42px;
    text-align: center;
    cursor: default;
    width: 44px;
    color: $dark-shade-75;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 43px;
    border-radius: 4px;
    background-color: white;
    user-select: none;
    &:hover + .dropdown__input {
      border-color: $dark-shade-50;
    }
  }
  &__input{
    width: 100%;
    height: 44px;
    padding-left: 15px;
    background: #FFFFFF;
    border: 1px solid $dark-shade-25;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: $montserrat;
    font-size: 14px;
    color: $dark-shade-75;
    cursor: default;
    outline: none;
    &_expanded{
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-color: $dark-shade-50;
      box-shadow: 0px 10px 20px $dark-shade-05;
    }
    &:hover {
      border-color: $dark-shade-50;
    }
  }
  &__elements{
    border: 1px solid $dark-shade-50;
    border-radius: 4px;
    border-top-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-left: 14px;
    padding-right: 7px;
    position: absolute;
    width: 100%;
    background: #fff;
    box-shadow: 0px 10px 20px $dark-shade-05;
    box-sizing: border-box;
    display: none;
    &_expanded{
      display: block;
    }
    z-index: 1;
  }
  &__element{
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    &:first-child{
      padding-top: 4px;
    }
  }
  &__name{
    font-weight: bold;
    text-transform: uppercase;
  }
  &__button{
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: $dark-shade-50;
    border: 1px solid $dark-shade-25;
    width: 30px;
    height: 30px;
    background: none;
    border-radius: 22px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    &:disabled{
      color: $dark-shade-1;
      border-color: $dark-shade-1;
    }
  }
  &__minus{
    margin-left: auto; // прижимает кнопки минус, плюс и счётчик вправо.
   
  }
  &__count{
    font-weight: bold;
    margin-left: 10px;
    margin-right: 13px;
  }
  &__plus{  
  }
  &__buttons{
    display: flex;
    justify-content: space-between;
  }
  &__interaction{
    background: none;
    border: none;
    font-family: inherit;
    text-transform: uppercase;
    font-weight: bold;
    font-size: inherit;
    padding: 0;
    margin-top: 14px;
    margin-bottom: 13px;
  }
  &__clear{
    color: $dark-shade-50;
  }
  &__apply{
    color: $purple;
  }
}