.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }
  .datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c5c5; }
  .-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
  .-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
    .-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
      background: #8ad5f4; }
  .-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
    .-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }

/* -------------------------------------------------
    Datepicker cells
   ------------------------------------------------- */
.datepicker--cells {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.datepicker--cell {
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 32px;
  z-index: 1; }
  .datepicker--cell.-focus- {
    background: #f0f0f0; }
  .datepicker--cell.-current- {
    color: #4EB5E6; }
    .datepicker--cell.-current-.-focus- {
      color: #4a4a4a; }
    .datepicker--cell.-current-.-in-range- {
      color: #4EB5E6; }
  .datepicker--cell.-in-range- {
    background: rgba(92, 196, 239, 0.1);
    color: #4a4a4a;
    border-radius: 0; }
    .datepicker--cell.-in-range-.-focus- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell.-disabled- {
    cursor: default;
    color: #aeaeae; }
    .datepicker--cell.-disabled-.-focus- {
      color: #aeaeae; }
    .datepicker--cell.-disabled-.-in-range- {
      color: #a1a1a1; }
    .datepicker--cell.-disabled-.-current-.-focus- {
      color: #aeaeae; }
  .datepicker--cell.-range-from- {
    border: 1px solid rgba(92, 196, 239, 0.5);
    background-color: rgba(92, 196, 239, 0.1);
    border-radius: 4px 0 0 4px; }
  .datepicker--cell.-range-to- {
    border: 1px solid rgba(92, 196, 239, 0.5);
    background-color: rgba(92, 196, 239, 0.1);
    border-radius: 0 4px 4px 0; }
  .datepicker--cell.-range-from-.-range-to- {
    border-radius: 4px; }
  .datepicker--cell.-selected- {
    color: #fff;
    border: none;
    background: #5cc4ef; }
    .datepicker--cell.-selected-.-current- {
      color: #fff;
      background: #5cc4ef; }
    .datepicker--cell.-selected-.-focus- {
      background: #45bced; }
  .datepicker--cell:empty {
    cursor: default; }

.datepicker--days-names {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 8px 0 3px; }

.datepicker--day-name {
  color: #FF9A19;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  text-transform: uppercase;
  font-size: .8em; }

.datepicker--cell-day {
  width: 14.28571%; }

.datepicker--cells-months {
  height: 170px; }

.datepicker--cell-month {
  width: 33.33%;
  height: 25%; }

.datepicker--years {
  height: 170px; }

.datepicker--cells-years {
  height: 170px; }

.datepicker--cell-year {
  width: 25%;
  height: 33.33%; }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }
  .datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c5c5; }
  .-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
  .-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
    .-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
      background: #8ad5f4; }
  .-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
    .-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }

/* -------------------------------------------------
    Datepicker
   ------------------------------------------------- */
.datepickers-container {
  position: absolute;
  left: 0;
  top: 0; }
  @media print {
    .datepickers-container {
      display: none; } }

.datepicker {
  background: #fff;
  border: 1px solid #dbdbdb;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-sizing: content-box;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  color: #4a4a4a;
  width: 250px;
  position: absolute;
  left: -100000px;
  opacity: 0;
  transition: opacity 0.3s ease, left 0s 0.3s, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s, -webkit-transform 0.3s ease;
  z-index: 100; }
  .datepicker.-from-top- {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px); }
  .datepicker.-from-right- {
    -webkit-transform: translateX(8px);
            transform: translateX(8px); }
  .datepicker.-from-bottom- {
    -webkit-transform: translateY(8px);
            transform: translateY(8px); }
  .datepicker.-from-left- {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px); }
  .datepicker.active {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
    transition: opacity 0.3s ease, left 0s 0s, -webkit-transform 0.3s ease;
    transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s;
    transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s, -webkit-transform 0.3s ease; }

.datepicker-inline .datepicker {
  border-color: #d7d7d7;
  box-shadow: none;
  position: static;
  left: auto;
  right: auto;
  opacity: 1;
  -webkit-transform: none;
          transform: none; }

.datepicker-inline .datepicker--pointer {
  display: none; }

.datepicker--content {
  box-sizing: content-box;
  padding: 4px; }
  .-only-timepicker- .datepicker--content {
    display: none; }

.datepicker--pointer {
  position: absolute;
  background: #fff;
  border-top: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  width: 10px;
  height: 10px;
  z-index: -1; }
  .-top-left- .datepicker--pointer, .-top-center- .datepicker--pointer, .-top-right- .datepicker--pointer {
    top: calc(100% - 4px);
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  .-right-top- .datepicker--pointer, .-right-center- .datepicker--pointer, .-right-bottom- .datepicker--pointer {
    right: calc(100% - 4px);
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg); }
  .-bottom-left- .datepicker--pointer, .-bottom-center- .datepicker--pointer, .-bottom-right- .datepicker--pointer {
    bottom: calc(100% - 4px);
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg); }
  .-left-top- .datepicker--pointer, .-left-center- .datepicker--pointer, .-left-bottom- .datepicker--pointer {
    left: calc(100% - 4px);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .-top-left- .datepicker--pointer, .-bottom-left- .datepicker--pointer {
    left: 10px; }
  .-top-right- .datepicker--pointer, .-bottom-right- .datepicker--pointer {
    right: 10px; }
  .-top-center- .datepicker--pointer, .-bottom-center- .datepicker--pointer {
    left: calc(50% - 10px / 2); }
  .-left-top- .datepicker--pointer, .-right-top- .datepicker--pointer {
    top: 10px; }
  .-left-bottom- .datepicker--pointer, .-right-bottom- .datepicker--pointer {
    bottom: 10px; }
  .-left-center- .datepicker--pointer, .-right-center- .datepicker--pointer {
    top: calc(50% - 10px / 2); }

.datepicker--body {
  display: none; }
  .datepicker--body.active {
    display: block; }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }
  .datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c5c5; }
  .-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
  .-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
    .-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
      background: #8ad5f4; }
  .-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
    .-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }

/* -------------------------------------------------
    Navigation
   ------------------------------------------------- */
.datepicker--nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #efefef;
  min-height: 32px;
  padding: 4px; }
  .-only-timepicker- .datepicker--nav {
    display: none; }

.datepicker--nav-title,
.datepicker--nav-action {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.datepicker--nav-action {
  width: 32px;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .datepicker--nav-action:hover {
    background: #f0f0f0; }
  .datepicker--nav-action.-disabled- {
    visibility: hidden; }
  .datepicker--nav-action svg {
    width: 32px;
    height: 32px; }
  .datepicker--nav-action path {
    fill: none;
    stroke: #9c9c9c;
    stroke-width: 2px; }

.datepicker--nav-title {
  border-radius: 4px;
  padding: 0 8px; }
  .datepicker--nav-title i {
    font-style: normal;
    color: #9c9c9c;
    margin-left: 5px; }
  .datepicker--nav-title:hover {
    background: #f0f0f0; }
  .datepicker--nav-title.-disabled- {
    cursor: default;
    background: none; }

.datepicker--buttons {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 4px;
  border-top: 1px solid #efefef; }

.datepicker--button {
  color: #4EB5E6;
  cursor: pointer;
  border-radius: 4px;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px; }
  .datepicker--button:hover {
    color: #4a4a4a;
    background: #f0f0f0; }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }
  .datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c5c5; }
  .-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
  .-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
    .-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
      background: #8ad5f4; }
  .-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
    .-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }

/* -------------------------------------------------
    Timepicker
   ------------------------------------------------- */
.datepicker--time {
  border-top: 1px solid #efefef;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px;
  position: relative; }
  .datepicker--time.-am-pm- .datepicker--time-sliders {
    -webkit-flex: 0 1 138px;
        -ms-flex: 0 1 138px;
            flex: 0 1 138px;
    max-width: 138px; }
  .-only-timepicker- .datepicker--time {
    border-top: none; }

.datepicker--time-sliders {
  -webkit-flex: 0 1 153px;
      -ms-flex: 0 1 153px;
          flex: 0 1 153px;
  margin-right: 10px;
  max-width: 153px; }

.datepicker--time-label {
  display: none;
  font-size: 12px; }

.datepicker--time-current {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 14px;
  text-align: center;
  margin: 0 0 0 10px; }

.datepicker--time-current-colon {
  margin: 0 2px 3px;
  line-height: 1; }

.datepicker--time-current-hours,
.datepicker--time-current-minutes {
  line-height: 1;
  font-size: 19px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  position: relative;
  z-index: 1; }
  .datepicker--time-current-hours:after,
  .datepicker--time-current-minutes:after {
    content: '';
    background: #f0f0f0;
    border-radius: 4px;
    position: absolute;
    left: -2px;
    top: -3px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    opacity: 0; }
  .datepicker--time-current-hours.-focus-:after,
  .datepicker--time-current-minutes.-focus-:after {
    opacity: 1; }

.datepicker--time-current-ampm {
  text-transform: uppercase;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  color: #9c9c9c;
  margin-left: 6px;
  font-size: 11px;
  margin-bottom: 1px; }

.datepicker--time-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
  height: 17px;
  background: linear-gradient(to right, #dedede, #dedede) left 50%/100% 1px no-repeat; }
  .datepicker--time-row:first-child {
    margin-bottom: 4px; }
  .datepicker--time-row input[type='range'] {
    background: none;
    cursor: pointer;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 100%;
    padding: 0;
    margin: 0;
    -webkit-appearance: none; }
    .datepicker--time-row input[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none; }
    .datepicker--time-row input[type='range']::-ms-tooltip {
      display: none; }
    .datepicker--time-row input[type='range']:hover::-webkit-slider-thumb {
      border-color: #b8b8b8; }
    .datepicker--time-row input[type='range']:hover::-moz-range-thumb {
      border-color: #b8b8b8; }
    .datepicker--time-row input[type='range']:hover::-ms-thumb {
      border-color: #b8b8b8; }
    .datepicker--time-row input[type='range']:focus {
      outline: none; }
      .datepicker--time-row input[type='range']:focus::-webkit-slider-thumb {
        background: #5cc4ef;
        border-color: #5cc4ef; }
      .datepicker--time-row input[type='range']:focus::-moz-range-thumb {
        background: #5cc4ef;
        border-color: #5cc4ef; }
      .datepicker--time-row input[type='range']:focus::-ms-thumb {
        background: #5cc4ef;
        border-color: #5cc4ef; }
    .datepicker--time-row input[type='range']::-webkit-slider-thumb {
      box-sizing: border-box;
      height: 12px;
      width: 12px;
      border-radius: 3px;
      border: 1px solid #dedede;
      background: #fff;
      cursor: pointer;
      transition: background .2s; }
    .datepicker--time-row input[type='range']::-moz-range-thumb {
      box-sizing: border-box;
      height: 12px;
      width: 12px;
      border-radius: 3px;
      border: 1px solid #dedede;
      background: #fff;
      cursor: pointer;
      transition: background .2s; }
    .datepicker--time-row input[type='range']::-ms-thumb {
      box-sizing: border-box;
      height: 12px;
      width: 12px;
      border-radius: 3px;
      border: 1px solid #dedede;
      background: #fff;
      cursor: pointer;
      transition: background .2s; }
    .datepicker--time-row input[type='range']::-webkit-slider-thumb {
      margin-top: -6px; }
    .datepicker--time-row input[type='range']::-webkit-slider-runnable-track {
      border: none;
      height: 1px;
      cursor: pointer;
      color: transparent;
      background: transparent; }
    .datepicker--time-row input[type='range']::-moz-range-track {
      border: none;
      height: 1px;
      cursor: pointer;
      color: transparent;
      background: transparent; }
    .datepicker--time-row input[type='range']::-ms-track {
      border: none;
      height: 1px;
      cursor: pointer;
      color: transparent;
      background: transparent; }
    .datepicker--time-row input[type='range']::-ms-fill-lower {
      background: transparent; }
    .datepicker--time-row input[type='range']::-ms-fill-upper {
      background: transparent; }
  .datepicker--time-row span {
    padding: 0 12px; }

.datepicker--time-icon {
  color: #9c9c9c;
  border: 1px solid;
  border-radius: 50%;
  font-size: 16px;
  position: relative;
  margin: 0 5px -1px 0;
  width: 1em;
  height: 1em; }
  .datepicker--time-icon:after, .datepicker--time-icon:before {
    content: '';
    background: currentColor;
    position: absolute; }
  .datepicker--time-icon:after {
    height: .4em;
    width: 1px;
    left: calc(50% - 1px);
    top: calc(50% + 1px);
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  .datepicker--time-icon:before {
    width: .4em;
    height: 1px;
    top: calc(50% + 1px);
    left: calc(50% - 1px); }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }
  .datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c5c5; }
  .-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
  .-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
    .-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
      background: #8ad5f4; }
  .-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
    .-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }

@font-face{font-family:Montserrat;src:url(../assets/fonts/montserrat-regular.eot);src:local("?"),url(../assets/fonts/montserrat-regular.woff) format("woff"),url(../assets/fonts/montserrat-regular.ttf) format("truetype"),url(../assets/fonts/montserrat-regular.svg) format("svg");font-weight:400;font-style:normal}@font-face{font-family:Montserrat;src:url(../assets/fonts/montserrat-bold.eot);src:local("?"),url(../assets/fonts/montserrat-bold.woff) format("woff"),url(../assets/fonts/montserrat-bold.ttf) format("truetype"),url(../assets/fonts/montserrat-bold.svg) format("svg");font-weight:700;font-style:normal}@font-face{font-family:Quicksand;src:url(../assets/fonts/quicksand-regular.eot);src:local("?"),url(../assets/fonts/quicksand-regular.woff) format("woff"),url(../assets/fonts/quicksand-regular.ttf) format("truetype"),url(../assets/fonts/quicksand-regular.svg) format("svg");font-weight:400;font-style:normal}@font-face{font-family:Quicksand;src:url(../assets/fonts/quicksand-bold.eot);src:local("?"),url(../assets/fonts/quicksand-bold.woff) format("woff"),url(../assets/fonts/quicksand-bold.ttf) format("truetype"),url(../assets/fonts/quicksand-bold.svg) format("svg");font-weight:700;font-style:normal}@font-face{font-family:Opensans;src:url(../assets/fonts/opensans-bold.eot);src:local("?"),url(../assets/fonts/opensans-bold.woff) format("woff"),url(../assets/fonts/opensans-bold.ttf) format("truetype"),url(../assets/fonts/opensans-bold.svg) format("svg");font-weight:700;font-style:normal}@font-face{font-family:Material Icons;src:url(../assets/fonts/materialicons-regular.eot);src:local("?"),url(../assets/fonts/materialicons-regular.woff) format("woff"),url(../assets/fonts/materialicons-regular.woff2) format("woff2"),url(../assets/fonts/materialicons-regular.ttf) format("truetype"),url(../assets/fonts/materialicons-regular.svg) format("svg");font-weight:700;font-style:normal}.logotype{background:url(../assets/images/logo.svg) no-repeat;background-size:cover;width:3rem;height:3rem}.search-room-card{background-color:#fff;padding:40px 30px 30px;box-shadow:0 0 25px rgba(0,0,0,.2);box-sizing:border-box;border-radius:4px}@media(max-width:360px){.search-room-card{padding:40px 4.33vw 30px}}.search-room-card__title{font-family:Opensans,arial,sans-serif;font-weight:700;font-size:1.5rem;margin-bottom:20px;line-height:1.875rem}.search-room-card__date-dropdown{margin-bottom:20px}.search-room-card__dropdown{margin-bottom:31px}.radio-button{margin-right:20px;display:inline-block}.radio-button:last-child{margin-right:0}.radio-button__label{display:inline-block;padding-left:1.875rem;font-size:.875rem;line-height:1.25rem;color:rgba(31,32,65,.5);cursor:pointer}.radio-button__input{position:absolute;-webkit-appearance:none;appearance:none}.radio-button__input:checked+.radio-button__box{border-color:#bc9cff}.radio-button__input:checked+.radio-button__box:before{content:"";position:absolute;top:.1875rem;left:.1875rem;width:.75rem;height:.75rem;background:linear-gradient(180deg,#bc9cff,#8ba4f9);border-radius:50%;box-sizing:border-box}.radio-button__box{position:absolute;width:1.25rem;height:1.25rem;box-sizing:border-box;margin-left:-1.875rem;border:1px solid rgba(31,32,65,.25);border-radius:50%;background-color:#fff}.toggle__label{display:inline-block;padding-left:50px;font-size:.875rem;line-height:1.25rem;color:rgba(31,32,65,.5);cursor:pointer}.toggle__input{position:absolute;-webkit-appearance:none;appearance:none}.toggle__input:checked+.toggle__box{border-color:#bc9cff}.toggle__input:checked+.toggle__box:before{content:"";position:absolute;top:.1875rem;left:1.4375rem;width:.75rem;height:.75rem;border-radius:10px;background:linear-gradient(180deg,#bc9cff,#8ba4f9);box-sizing:border-box}.toggle__box{width:2.5rem;height:1.25rem;margin-left:-50px;border:1px solid rgba(31,32,65,.25);border-radius:10px;background-color:#fff}.toggle__box,.toggle__box:before{position:absolute;box-sizing:border-box}.toggle__box:before{content:"";top:.1875rem;left:.1875rem;width:.75rem;height:.75rem;background:linear-gradient(rgba(31,32,65,.25),rgba(31,32,65,.25));border-radius:10px;transition-duration:.3s}.sign-up-card{background-color:#fff;padding:40px 30px 30px;box-shadow:0 0 25px rgba(0,0,0,.2);border-radius:4px}@media(max-width:360px){.sign-up-card{padding:40px 4.33vw 30px}}.sign-up-card__title{font-family:Opensans,arial,sans-serif;font-weight:700;font-size:1.5rem;margin-bottom:20px;line-height:1.875rem}.sign-up-card__name,.sign-up-card__surname{margin-bottom:10px}.sign-up-card__radio{margin-bottom:24px}.sign-up-card__birthday{margin-bottom:20px}.sign-up-card__email,.sign-up-card__password{margin-bottom:10px}.sign-up-card__toggle{margin-bottom:24px}.sign-up-card__submit{margin-bottom:30px}.sign-up-card__sign-in{display:flex;justify-content:space-between;align-items:center;position:relative;z-index:1}.sign-up-card__sign-in-text{font-family:Montserrat,arial,sans-serif;font-size:.875rem}.masked-text-field,.subscription-text-field,.text-field{display:flex;flex-wrap:wrap;justify-content:space-between;font-size:.75rem}.masked-text-field__title,.subscription-text-field__title,.text-field__title{text-transform:uppercase;font-weight:700;color:#1f2041;margin-bottom:5px}.masked-text-field__subtitle,.subscription-text-field__subtitle,.text-field__subtitle{text-transform:uppercase;color:rgba(31,32,65,.5)}.masked-text-field__button,.subscription-text-field__button,.text-field__button{position:absolute;top:0;right:0;width:2.75rem;height:2.75rem;font-family:Material Icons;font-size:1.5rem;line-height:2.625rem;background:linear-gradient(180deg,#bc9cff,#8ba4f9);-webkit-background-clip:text;-webkit-text-fill-color:transparent;color:#bc9cff;border:none;cursor:pointer}.masked-text-field__button-background,.subscription-text-field__button-background,.text-field__button-background{background-color:#fff;position:absolute;top:1px;right:1px;width:2.6875rem;height:2.5rem;border-radius:4px}.masked-text-field__button:hover~.subscription-text-field__input,.subscription-text-field__button:hover~.subscription-text-field__input,.text-field__button:hover~.subscription-text-field__input{border-color:rgba(31,32,65,.5)}.masked-text-field__wrapper,.subscription-text-field__wrapper,.text-field__wrapper{width:100%;position:relative}.masked-text-field__input,.subscription-text-field__input,.text-field__input{width:100%;padding:.8125rem .3125rem .6875rem .9375rem;background:#fff;border:1px solid rgba(31,32,65,.25);box-sizing:border-box;border-radius:4px;font-family:inherit;font-size:.875rem;line-height:1.125rem;color:rgba(31,32,65,.75);outline:none}.masked-text-field__input::-webkit-input-placeholder,.subscription-text-field__input::-webkit-input-placeholder,.text-field__input::-webkit-input-placeholder{color:rgba(31,32,65,.25)}.masked-text-field__input:-ms-input-placeholder,.subscription-text-field__input:-ms-input-placeholder,.text-field__input:-ms-input-placeholder{color:rgba(31,32,65,.25)}.masked-text-field__input::-ms-input-placeholder,.subscription-text-field__input::-ms-input-placeholder,.text-field__input::-ms-input-placeholder{color:rgba(31,32,65,.25)}.masked-text-field__input::placeholder,.subscription-text-field__input::placeholder,.text-field__input::placeholder{color:rgba(31,32,65,.25)}.masked-text-field__input:focus,.masked-text-field__input:hover,.subscription-text-field__input:focus,.subscription-text-field__input:hover,.text-field__input:focus,.text-field__input:hover{border-color:rgba(31,32,65,.5)}.button{text-transform:uppercase;font-family:inherit;font-size:.75rem;line-height:.9375rem;font-weight:700;border-radius:22px;border:none;outline:none;cursor:pointer;transition:opacity .4s}.button_place_in-form{min-width:99px;padding-top:14px;padding-bottom:15px}.button_place_in-header.button_color_purple{padding:9px 20px 10px 19px}.button_place_in-header.button_color_white{padding:7px 19px 8px 18px}.button_color_white{color:#bc9cff;background:#fff;background-clip:padding-box;position:relative;border:2px solid transparent;padding-top:12px;padding-bottom:13px}.button_color_white:before{content:"";position:absolute;top:0;right:0;bottom:0;left:0;z-index:-1;margin:-2px;border-radius:inherit;background-image:linear-gradient(180deg,#bc9cff,#8ba4f9);transition:opacity .4s}.button_color_white:hover:before{opacity:.6}.button_color_purple{background:linear-gradient(180deg,#bc9cff,#8ba4f9);color:#fff}.button_color_purple:hover{opacity:.6}.sign-in-card{background-color:#fff;padding:40px 30px 30px;box-shadow:0 0 25px rgba(0,0,0,.2);border-radius:4px}@media(max-width:360px){.sign-in-card{padding:40px 4.33vw 30px}}.sign-in-card__title{font-family:Opensans,arial,sans-serif;font-weight:700;font-size:1.5rem;margin-bottom:20px;line-height:1.875rem}.sign-in-card__email{margin-bottom:10px}.sign-in-card__password{margin-bottom:20px}.sign-in-card__submit{margin-bottom:30px}.sign-in-card__sign-up{display:flex;justify-content:space-between;align-items:center;position:relative;z-index:1}.sign-in-card__sign-up-text{font-family:Montserrat,arial,sans-serif;font-size:.875rem}.dropdown{font-size:.75rem;width:100%;position:relative}.dropdown__title{color:#1f2041;font-weight:700;text-transform:uppercase;margin-bottom:5px}.dropdown__wrapper{width:100%;position:relative}.dropdown__arrow{font-family:Material Icons;font-size:1.5rem;line-height:2.5rem;text-align:center;cursor:default;width:2.75rem;color:rgba(31,32,65,.75);position:absolute;top:1px;right:1px;width:2.6875rem;border-radius:4px;background-color:#fff;-webkit-user-select:none;-ms-user-select:none;user-select:none}.dropdown__arrow:hover+.dropdown__input{border-color:rgba(31,32,65,.5)}.dropdown__input{width:100%;padding:.8125rem .3125rem .6875rem .9375rem;background:#fff;border:1px solid rgba(31,32,65,.25);box-sizing:border-box;border-radius:4px;font-family:inherit;font-size:.875rem;line-height:1.125rem;color:rgba(31,32,65,.75);cursor:default;outline:none;transition:border-radius .2s}.dropdown__input_expanded{border-radius:4px 4px 0 0;box-shadow:0 10px 20px rgba(31,32,65,.05)}.dropdown__input:hover,.dropdown__input_expanded{border-color:rgba(31,32,65,.5)}.dropdown__elements{transform:scaleY(0);border-radius:0 0 4px 4px;border:1px solid rgba(31,32,65,.5);border-top:0 solid rgba(31,32,65,.5);padding-left:14px;padding-right:7px;position:absolute;width:100%;background:#fff;box-shadow:0 10px 20px rgba(31,32,65,.05);box-sizing:border-box;transform-origin:0 0;transition:transform .2s;z-index:1}.dropdown__elements_expanded{transform:scaleY(1)}.dropdown__element{position:relative;display:flex;align-items:center;margin-bottom:7px}.dropdown__element:first-child{padding-top:4px}.dropdown__name{font-weight:700;text-transform:uppercase}.dropdown__button{font-family:Arial,sans-serif;font-size:1.125rem;color:rgba(31,32,65,.5);border:1px solid rgba(31,32,65,.25);width:1.875rem;height:1.875rem;background:none;border-radius:50%;text-transform:uppercase;cursor:pointer;outline:none;transition:color .2s,border-color .2s,box-shadow .1s}.dropdown__button:disabled{color:rgba(31,32,65,.1);border-color:rgba(31,32,65,.1);cursor:auto}.dropdown__button:hover:enabled{color:#fff;background-color:#616175}.dropdown__button:active:enabled{box-shadow:inset 0 0 7px 3px #101013}.dropdown__minus{margin-left:auto;margin-right:2rem}.dropdown__count{position:absolute;font-weight:700;right:2.6875rem}.dropdown__bottom-buttons{display:flex;justify-content:space-between}.dropdown__bottom-button{background:none;border:none;font-family:inherit;text-transform:uppercase;font-weight:700;font-size:inherit;padding:0;margin-top:14px;margin-bottom:13px;cursor:pointer}.dropdown__clear{color:rgba(31,32,65,.5)}.dropdown__clear_hidden{visibility:hidden}.dropdown__apply{color:#bc9cff}.date-dropdown{width:100%;display:flex;justify-content:space-between}.date-dropdown__title{font-size:.75rem;font-weight:700;text-transform:uppercase;color:#1f2041;margin-bottom:5.44px}.date-dropdown__wrapper{max-width:150px;position:relative}.date-dropdown__arrow{font-family:Material Icons;font-size:1.5rem;line-height:2.5rem;text-align:center;cursor:default;width:2.75rem;color:rgba(31,32,65,.75);position:absolute;top:1px;right:1px;width:2.6875rem;border-radius:4px;background-color:#fff;-webkit-user-select:none;-ms-user-select:none;user-select:none}.date-dropdown__arrow:hover+.date-dropdown__input{border-color:rgba(31,32,65,.5)}.date-dropdown__input{width:100%;outline:none;padding:.8125rem .3125rem .6875rem .9375rem;background:#fff;border:1px solid rgba(31,32,65,.25);box-sizing:border-box;border-radius:4px;font-family:inherit;font-size:.875rem;line-height:1.125rem;color:rgba(31,32,65,.75)}.date-dropdown__input::-webkit-input-placeholder{color:rgba(31,32,65,.75);text-transform:uppercase}.date-dropdown__input:-ms-input-placeholder{color:rgba(31,32,65,.75);text-transform:uppercase}.date-dropdown__input::-ms-input-placeholder{color:rgba(31,32,65,.75);text-transform:uppercase}.date-dropdown__input::placeholder{color:rgba(31,32,65,.75);text-transform:uppercase}.date-dropdown__input:focus,.date-dropdown__input:hover{border-color:rgba(31,32,65,.5)}.submit-button{position:relative}.submit-button__button{width:100%;text-transform:uppercase;font-size:.75rem;font-family:inherit;line-height:15px;padding-top:14px;padding-bottom:15px;font-weight:700;background:linear-gradient(180deg,#bc9cff,#8ba4f9);color:#fff;border-radius:22px;border:none;outline:none;cursor:pointer;transition:opacity .4s}.submit-button__button:hover{opacity:.6}.submit-button__arrow{position:absolute;text-transform:lowercase;text-align:center;font-family:Material Icons;font-size:24px;line-height:44px;color:#fff;width:44px;top:0;right:0}.booking-room-card{background-color:#fff;padding:40px 30px 30px;box-shadow:0 0 25px rgba(0,0,0,.2);border-radius:4px}@media(max-width:360px){.booking-room-card{padding:40px 4.33vw 30px}}.booking-room-card__title{display:flex;justify-content:space-between;align-items:baseline;font-weight:700;font-size:.875rem;margin-bottom:15px;line-height:1.875rem}.booking-room-card__number{font-family:Opensans,arial,sans-serif;color:#1f2041;font-size:1.5rem;margin-left:4px}.booking-room-card__number_no-lux{margin-right:auto}.booking-room-card__lux{margin-left:5px;color:#bc9cff;font-size:.75rem;margin-right:auto}.booking-room-card__cost{color:rgba(31,32,65,.5);margin-right:4px}.booking-room-card__for-day{color:rgba(31,32,65,.5);font-weight:400;font-size:.75rem}.booking-room-card__date-dropdown{margin-bottom:20px}.booking-room-card__dropdown{margin-bottom:19px}.booking-room-card__calculate{margin-bottom:28px}.booking-room-card__total{margin-bottom:19px}.calculate{font-size:.875rem;line-height:1.5rem;color:rgba(31,32,65,.75)}.calculate__row{display:flex;justify-content:space-between;margin-bottom:10px}.calculate__row:last-child{margin-bottom:0}.calculate__add-services,.calculate__services{padding-right:25px;flex-basis:68%;position:relative}.calculate__add-services:before,.calculate__services:before{position:absolute;content:"i";top:0;right:2px;font-size:.75rem;line-height:1.25rem;font-weight:700;color:rgba(31,32,65,.25);text-align:center;width:1.25rem;height:1.25rem;border:1px solid rgba(31,32,65,.25);border-radius:50%;box-sizing:border-box}.calculate__add-services{line-height:normal;margin-top:3px}.total{display:flex;align-items:baseline;justify-content:space-between;font-family:Opensans,arial,sans-serif;font-size:1.1875rem;font-weight:700}.total__border{flex-grow:1;border-bottom:1px dashed rgba(31,32,65,.25)}.stars{font-family:Material Icons;font-size:1.5rem}.star{display:inline-block;background:linear-gradient(180deg,#bc9cff,#8ba4f9);-webkit-background-clip:text;-webkit-text-fill-color:transparent;color:#bc9cff;cursor:pointer;-webkit-user-select:none;-ms-user-select:none;user-select:none}.room-card{width:100%;background-color:#fff;box-shadow:0 10px 20px rgba(31,32,65,.05);border-radius:4px;overflow:hidden;transition:box-shadow .4s}.room-card:hover{box-shadow:0 10px 20px rgba(31,32,65,.4)}.room-card__preview{position:relative}.room-card__preview:hover .room-card__arrow{opacity:1}.room-card__gallery{display:flex;transition:margin-left .4s}.room-card__arrow{opacity:0;font-family:Material Icons;color:#fff;font-size:24px;line-height:152px;text-align:center;width:44px;height:151px;position:absolute;top:0;left:0;background:linear-gradient(90deg,rgba(0,0,0,.5),transparent 99.99%,hsla(0,0%,100%,0));cursor:pointer;-webkit-user-select:none;-ms-user-select:none;user-select:none;transition:opacity .4s}.room-card__right-arrow{left:auto;right:0;transform:matrix(-1,0,0,1,0,0)}.room-card__circles{position:absolute;right:15px;bottom:12px}.room-card__circle{display:inline-block;width:8px;height:8px;margin-right:3px;border:1px solid #fff;border-radius:50%;box-sizing:border-box;cursor:pointer}.room-card__circle:last-child{margin-right:0}.room-card__circle_active{background:#fff}.room-card__info{margin:22px 17px 19px 20px}.room-card__wrapper{display:flex;justify-content:space-between;align-items:baseline;font-weight:700;font-size:.875rem}.room-card__wrapper:last-child{align-items:center}.room-card__number{font-family:Opensans,arial,sans-serif;color:#1f2041;font-size:1.25rem;line-height:18px;margin-left:4px}.room-card__lux,.room-card__number_no-lux{margin-right:auto}.room-card__lux{margin-left:5px;color:#bc9cff;font-size:.75rem}.room-card__cost{color:rgba(31,32,65,.5);margin-right:4px}.room-card__for-day{color:rgba(31,32,65,.5);font-weight:400;font-size:.75rem}.room-card__border{width:100%;border-bottom:2px solid rgba(31,32,65,.1);margin-top:10px;margin-bottom:8px}.room-card__num-of-comments{color:rgba(31,32,65,.5);margin-right:4px;margin-left:auto}.room-card__comments{color:rgba(31,32,65,.5);font-weight:400;font-size:.875rem;margin-right:3px;line-height:.875rem}.datepicker{border:1px solid rgba(31,32,65,.25);width:320px;box-sizing:border-box;font-family:Montserrat,arial,sans-serif;font-size:12px;color:rgba(31,32,65,.5)}.datepicker__arrow{font-family:Material Icons;font-size:24px;color:#bc9cff}.datepicker__bottom-buttons{display:flex;justify-content:space-between}.datepicker__bottom-buttons_hidden{display:none}.datepicker__bottom-button{background:none;border:none;font-family:inherit;text-transform:uppercase;font-weight:700;padding:0;font-size:12px;margin-top:21px;cursor:pointer}.datepicker__clear{color:rgba(31,32,65,.5)}.datepicker__clear_hidden{visibility:hidden}.datepicker__apply{color:#bc9cff}.datepicker--content{padding:0 19px;margin-bottom:19px;margin-top:21px}.datepicker--nav{border-bottom:none;padding-top:15px;padding-left:15px;padding-right:15px}.datepicker--nav-title{font-family:Opensans,arial,sans-serif;font-size:19px;font-weight:700;color:#1f2041}.datepicker--nav-title i{color:inherit}.datepicker--day-name{text-transform:none;font-weight:700;color:#bc9cff;font-size:12px;width:40px;height:40px}.datepicker--days-names{margin-top:0;margin-bottom:0}.datepicker--cell-day.-other-month-{color:rgba(31,32,65,.25)}.datepicker--cell-day{width:40px;height:40px;border-radius:22px}.datepicker--cell.-current-,.datepicker--cell.-current-.-selected-{color:#fff;background:linear-gradient(180deg,#6fcf97,#66d2ea);font-weight:700}.datepicker--cell.-current-.-focus-{background:linear-gradient(180deg,#36a263,#1cadce);color:#fff}.datepicker--cell.-current-.-in-range-{color:#fff;background:linear-gradient(180deg,#6fcf97,#66d2ea)}.datepicker--cell-day.-range-to-{border:none;border-radius:22px}.datepicker--cell-day.-range-to-,.datepicker--cell-day.-range-to-:before{background:linear-gradient(180deg,rgba(188,158,255,.25),rgba(139,164,249,.25))}.datepicker--cell-day.-range-to-:before{content:"";top:0;left:0;width:40px;height:40px;position:absolute;border-radius:0 22px 22px 0;z-index:-2}.datepicker--cell-day.-range-from-{border:none;border-radius:22px}.datepicker--cell-day.-range-from-,.datepicker--cell-day.-range-from-:before{background:linear-gradient(180deg,rgba(188,158,255,.25),rgba(139,164,249,.25))}.datepicker--cell-day.-range-from-:before{content:"";top:0;right:0;width:40px;height:40px;position:absolute;border-radius:22px 0 0 22px;z-index:-2}.datepicker--cell-day.-range-from-.-range-to-{border-radius:4px}.datepicker--cell-day.-selected-{color:#fff;border:none;font-weight:700}.datepicker--cell-day.-selected-,.datepicker--cell-day.-selected-.-focus-{background:linear-gradient(180deg,#bc9cff,#8ba4f9)}.datepicker--cell-day.-in-range-{background:linear-gradient(180deg,rgba(188,158,255,.25),rgba(139,164,249,.25));color:rgba(31,32,65,.5);border-radius:0}.-in-range-.datepicker--cell-day.-other-month-,.-in-range-.datepicker--cell-year.-other-decade-{background:linear-gradient(180deg,rgba(188,158,255,.25),rgba(139,164,249,.25));color:rgba(31,32,65,.25)}.datepicker--cell-month.-current-.-range-from-,.datepicker--cell-month.-current-.-range-to-{background:linear-gradient(180deg,#6fcf97,#66d2ea)}.datepicker--cell-month.-in-range-{background:linear-gradient(180deg,rgba(188,158,255,.25),rgba(139,164,249,.25));color:rgba(31,32,65,.5);border-radius:0}.datepicker--cell-month.-range-from-,.datepicker--cell-month.-range-to-{border:none;background:linear-gradient(180deg,rgba(153,107,255,.25),rgba(91,126,246,.25))}.datepicker--cell-month.-selected-.-focus-{background:linear-gradient(180deg,#bc9cff,#8ba4f9)}.datepicker--cell-year.-current-.-range-from-,.datepicker--cell-year.-current-.-range-to-{background:linear-gradient(180deg,#6fcf97,#66d2ea)}.datepicker--cell-year.-in-range-{background:linear-gradient(180deg,rgba(188,158,255,.25),rgba(139,164,249,.25));color:rgba(31,32,65,.5);border-radius:0}.datepicker--cell-year.-range-from-,.datepicker--cell-year.-range-to-{border:none;background:linear-gradient(180deg,rgba(153,107,255,.25),rgba(91,126,246,.25))}.datepicker--cell-year.-selected-.-focus-{background:linear-gradient(180deg,#bc9cff,#8ba4f9)}html{font-size:16px;font-family:Montserrat,arial,sans-serif}body{margin:0;background:#f4f4f6}.logo{max-width:1380px;margin:0 auto;padding:0 30px}@media(max-width:1440px){.logo{padding-left:2.1vw}}.logo__wrapper{position:absolute;top:30px}@media(max-width:840px){.logo{display:none}}.cards__content{max-width:1160px;margin:150px auto 140px;padding:0 10px;display:flex;justify-content:space-between;flex-wrap:wrap}@media(max-width:1440px){.cards__content{margin:10.4vw auto 9.72vw}}@media(max-width:1120px){.cards__content{justify-content:space-evenly}}@media(max-width:400px){.cards__content{padding:0}}.cards__column{width:380px;margin-right:10px;margin-bottom:40px}.cards__column:last-child{width:320px;margin-right:0;margin-bottom:0}@media(max-width:1109px){.cards__column:nth-child(2){margin-right:0}}@media(max-width:779px){.cards__column{margin-right:0}}.cards__booking-room-card,.cards__calendar,.cards__room-card,.cards__search-room-card{margin-bottom:40px}.cards__calendar{margin-bottom:75px}.cards__room-card{width:270px}
