include ../../components/header/header.pug
include ../../components/footer/footer.pug

block variables 

- const constants = require('@pages/layout/constants.json')

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    block favicons
      <link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16x16.png">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="theme-color" content="#ffffff">
    
    block title

  body(class=pageClass)
    block header
      header(class=`${pageClass}__header js-${pageClass}__header`)
        +header({ navbar: constants.navbarInHeaderRu, buttonLogin: 'войти', buttonRegister: 'зарегистрироваться' })

    block content 

    block footer 
      footer(class=pageClass + "__footer")
        +footer({ footerText: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»', menu: constants.footerMenuRu, subscriptionTitle: 'Подписка', subscriptionText: 'Получайте специальные предложения и новости сервиса', copyright: 'Copyright © 2018 Toxin отель. Все права зачищены.' })