mixin pagination({ currentPage = 1, lastPage = 15, captionText = 'string' })

  .pagination
    .pagination__wrapper
      .pagination__link= currentPage
      a(href="/mock-address").pagination__link #{Number(currentPage) + 1}
      a(href="/mock-address").pagination__link #{Number(currentPage) + 2}
      .pagination__dots ...
      a(href="/mock-address").pagination__link= lastPage
      a(href="/mock-address").pagination__button arrow_forward
    .pagination__caption= captionText
    