extends ../../layout/layout.pug
include ../../../components/header/header.pug
include ../../../components/footer/footer.pug
include ../../../components/sign-in-card/sign-in-card.pug

block variables
  -
    const pageClass = "sign-in"

block title
  title Sign in
    
block content
  main.sign-in__image
    .sign-in__sign-in-card
      +sign-in-card()