@import '../../../scss/fonts.scss';
@import '../../../scss/colors.scss';
@import '../../../components/header/header.scss';
@import '../../../components/footer/footer.scss';
@import '../../../components/sign-in-card/sign-in-card.scss';

body {
  margin: 0 auto;
  background: #f4f4f6;
}

.sign-in{
  &__image{
    padding: 164px 0;
    background: url(./img/sign-in.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
  }
  &__sign-in-card{
      max-width: 380px;
      margin: 0 auto;
  }
}