@import '../../../scss/variables.scss';

.sign-in {
  margin: 0 auto;
  &__image {
    padding: 164px 0;
    background: url(./img/sign-in.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
  }
  &__sign-in-card {
    max-width: 380px;
    margin: 0 auto;
  }
}
