@import '../../../scss/fonts.scss';
@import '../../../scss/variables.scss';
@import '../../../components/header/header.scss';
@import '../../../components/footer/footer.scss';
@import '../../../components/sign-in-card/sign-in-card.scss';

html {
  font-size: 16px;
  font-family: $font-main;
}

body {
  margin: 0 auto;
}

.sign-in {
  &__image {
    padding: 164px 0;
    background: url(./img/sign-in.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
  }
  &__sign-in-card {
    max-width: 380px;
    margin: 0 auto;
  }
}
