.stars{
  font-family: $material-icons;
  font-size: 24px;
}
.star {
  display: inline-block;
  background: $purple-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: $purple;
}