@import '../../scss/variables.scss';

.rate-button {
  font-family: $material-icons;
  font-size: 1.5rem;
  &__star{
    display: inline-block;
    background: $secondary-color-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $secondary-color;
    user-select: none;
  }
}
