.stars{
  font-family: $material-icons;
  font-size: 1.5rem;
}
.star {
  display: inline-block;
  background: $color-secondary-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: $color-secondary;
  cursor: pointer;
  user-select: none;
}