mixin rate-button({ activeStars })

  - let i = 0
  
  .rate-button
    while i < 5
      if(activeStars > i)
        .rate-button__star star
      else
        .rate-button__star star_border
      - i++