@import '../../../scss/fonts.scss';
@import '../../../scss/colors.scss';
@import '../../../components/logo/logo.scss';
@import '../../../components/text-fields/text-fields.scss';
@import '../../../components/abouts-room/abouts-room.scss';
@import '../../../components/checkbox/checkbox.scss';
@import '../../../components/expandable-checkbox/expandable-checkbox.scss';
@import '../../../components/rate-button/rate-button.scss';
@import '../../../components/radio-button/radio-button.scss';
@import '../../../components/toggle/toggle.scss';
@import '../../../components/like-button/like-button.scss';
@import '../../../components/button/button.scss';
@import '../../../components/big-button/big-button.scss';
@import '../../../components/pagination/pagination.scss';
@import '../../../components/rich-checkbox/rich-checkbox.scss';
@import '../../../components/bullet-list/bullet-list.scss';
@import '../../../components/dropdown/dropdown.scss';
@import '../../../components/date-dropdown/date-dropdown.scss';

body {
  max-width: 1440px;
  margin: 0 auto;
}
.test{
  width: 320px;
  margin: 0;
}
.test1{
  margin-top: 200px;
  width: 320px;
}
.test2{
  margin-top: 200px;
  width: 267px;
}