@import '../../../scss/fonts.scss';
@import '../../../scss/colors.scss';
@import '../../../components/logo/logo.scss';
@import '../../../components/text-fields/text-fields.scss';
@import '../../../components/abouts-room/abouts-room.scss';
@import '../../../components/checkbox/checkbox.scss';
@import '../../../components/expandable-checkbox/expandable-checkbox.scss';
@import '../../../components/rate-button/rate-button.scss';
@import '../../../components/radio-button/radio-button.scss';
@import '../../../components/toggle/toggle.scss';

body {
  max-width: 1440px;
  margin: 0 auto;
}
.test{
  width: 266px;
}
.test1{
  width: 320px;
}
.test2{
  width: 267px;
}