include ../../../components/logo/logo.pug
include ../../../components/text-fields/text-fields.pug
include ../../../components/abouts-room/abouts-room.pug
include ../../../components/checkbox/checkbox.pug

-
  const details = [
  {mater_icon: "insert_emoticon", title: "Комфорт", description: "Шумопоглащающие стены"},
  {mater_icon: "location_city", title: "Удобство", description: "Окно в каждой из спален"},
  {mater_icon: "whatshot", title: "Уют", description: "Номер оснащён камином"}]

  const checkboxes = [{label: "Можно курить"},{label: "Можно с питомцами", isChecked: true},{label: "Можно пригласить гостей (до 10 человек)", isChecked: true}]

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="./form-elements.scss")
    title Form Elements
  body
    .test
      +text-field({title: "text field", subtitle: "default", placeholder: "Email"})
    .test2
      +subscription-text-field({title: "subscription text field", placeholder: "Email"})
    .test1
      +masked-text-field({title: "masked text field", subtitle: "default", placeholder: "ДД.ММ.ГГГГ"})