include ../../../components/logo/logo.pug
include ../../../components/text-fields/text-fields.pug
include ../../../components/abouts-room/abouts-room.pug
include ../../../components/checkbox/checkbox.pug
include ../../../components/expandable-checkbox/expandable-checkbox.pug
include ../../../components/rate-button/rate-button.pug
include ../../../components/radio-button/radio-button.pug
include ../../../components/toggle/toggle.pug
include ../../../components/like-button/like-button.pug
include ../../../components/button/button.pug
include ../../../components/big-button/big-button.pug
include ../../../components/pagination/pagination.pug
include ../../../components/rich-checkbox/rich-checkbox.pug
include ../../../components/bullet-list/bullet-list.pug
include ../../../components/dropdown/dropdown.pug
include ../../../components/date-dropdown/date-dropdown.pug
include ../../../components/filter-date/filter-date.pug

-
  const details = [{materIcon: "insert_emoticon", title: "Комфорт", description: "Шумопоглащающие стены"},
                  {materIcon: "location_city", title: "Удобство", description: "Окно в каждой из спален"},
                  {materIcon: "whatshot", title: "Уют", description: "Номер оснащён камином"}]

  const checkboxes = [{label: "Можно курить"},{label: "Можно с питомцами", isChecked: true},{label: "Можно пригласить гостей (до 10 человек)", isChecked: true}]

  const checkboxesToList = [{label: "Завтрак"},{label: "Письменный стол", isChecked: true},{label: "Стул для кормления", isChecked: true},
                              {label: "Кроватка", isChecked: true},{label: "Телевизор"},{label: "Шампунь"},{label: "Телевизор"},{label: "Шампунь"}]

  const radButtons = [{label: "Мужчина", isChecked: true},{label: "Женщина"}]

  const richCheckboxes = [{label: "Широкий коридор", description: "Ширина коридора в номере не менее 91 см."},
                          {label: "Помощник для инвалидов", description: "На 1 этаже вас встретит специалист и проводит до номера"}]
  
  const bulletList = ["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"]

  const dropdown = [{name: "Спальни", nameForms: ["Спальня","Спальни","Спален"], value: "2", min: "0", max: "5"},
                    {name: "Кровати", nameForms: ["Кровать","Кровати","Кроватей"], value: "2", min: "0", max: "5"},
                    {name: "Ванные комнаты",  nameForms: ["Ванная комната","Ванных комнаты","Ванных комнат"], value: "0", min: "0", max: "5"}]

  const dropdown1 = [{name: "Взрослые", value: "0", min: "0", max: "1"},{name: "Дети", value: "1", min: "0", max: "2"},{name: "Младенцы", value: "0", min: "0", max: "3"}]

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="./form-elements.scss")
    //- <link href="../../../../node_modules/air-datepicker/dist/css/datepicker.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="./jquery-in-parcel.js"></script>
    <script src="../../../../node_modules/air-datepicker/dist/js/datepicker.min.js"></script>

    title Form Elements
  body
    .test
      +date-dropdown({title1: "date dropdown", title2: "date dropdown"})
      
    .test1
    .test2
      //- +filter-date({title: 'filter date dropdown'})
      +dropdown({title: "dropdown", elements: dropdown, resultDefault: "Сколько комнат"})
      //- +dropdown({title: "dropdown", elements: dropdown1, buttons: true, resultDefault: "Сколько гостей", keyWords: ["гость","гостя","гостей"]})
      //- +expandable-checkbox({title: "sad", checkboxList: checkboxesToList})
      //- +like-button({count: 15})
    script(src="./index.js")