@import '../../../scss/fonts.scss';
@import '../../../scss/colors.scss';
@import '../../../components/logo/logo.scss';
@import '../../../components/text-field/text-field.scss';
@import '../../../components/abouts-room/abouts-room.scss';
@import '../../../components/checkbox/checkbox.scss';

body {
  max-width: 1440px;
  margin: 0 auto;
}
.test{
  width: 222px;
}