extends ../../layout/layout.pug
include ../../../components/header/header.pug
include ../../../components/footer/footer.pug
include ../../../components/date-dropdown/date-dropdown.pug
include ../../../components/dropdown/dropdown.pug
include ../../../components/range-slider/range-slider.pug
include ../../../components/checkbox/checkbox.pug
include ../../../components/rich-checkbox/rich-checkbox.pug
include ../../../components/expandable-checkbox/expandable-checkbox.pug
include ../../../components/pagination/pagination.pug
include ../../../components/room-card/room-card.pug

block variables
  -
    const pageClass = 'search-room'

    const consts = require('./constants.json')                                                                                         

block title
  title Search room 

block content
    main.search-room__content
      .search-room__wrapper
        section.search-room__filters
          .search-room__filter-date-dropdown.js-search-room__filter-date-dropdown
            +date-dropdown({ isFilter: true, title: 'даты пребывания в отеле' })
          .search-room__guest-dropdown.js-search-room__dropdown
            +dropdown({ title: 'гости', elements: consts.guestDropdown, resultDefault: 'Сколько гостей' })
          .search-room__range-slider.js-search-room__range-slider
            +range-slider({ title: 'диапазон цены' })
          .search-room__text.search-room__text_size_small Стоимость за сутки пребывания в номере
          .search-room__text checkbox buttons
          .search-room__checkboxes
            .search-room__checkbox
              +checkbox({ label: 'Можно курить' })
            .search-room__checkbox
              +checkbox({ label: 'Можно с питомцами', isChecked: true })
            .search-room__checkbox
              +checkbox({ label: 'Можно пригласить гостей (до 10 человек)', isChecked: true })
          .search-room__text доступность
          .search-room__rich-checkbox
            +rich-checkbox({ richCheckboxes: consts.richCheckboxes })
          .search-room__room-dropdown.js-search-room__dropdown
            +dropdown({ title: 'удобства номера', elements: consts.roomDropdown, resultDefault: 'Сколько комнат' })
          .search-room__expandable-checkbox.js-search-room__expandable-checkbox
            +expandable-checkbox({ title: 'дополнительные удобства', checkboxList: consts.checkboxesToList })
        section.search-room__result
          .search-room__title Номера, которые мы для вас подобрали
          .search-room__room-cards
            .search-room__room-card.js-search-room__room-card
              +room-card(consts.roomCard1)
            .search-room__room-card.js-search-room__room-card
              +room-card(consts.roomCard2)
            .search-room__room-card.js-search-room__room-card
              +room-card(consts.roomCard3)
            .search-room__room-card.js-search-room__room-card
              +room-card(consts.roomCard4)
            .search-room__room-card.js-search-room__room-card
              +room-card(consts.roomCard5)
            .search-room__room-card.js-search-room__room-card
              +room-card(consts.roomCard6)
            .search-room__room-card.js-search-room__room-card
              +room-card(consts.roomCard7)
            .search-room__room-card.js-search-room__room-card
              +room-card(consts.roomCard8)
            .search-room__room-card.js-search-room__room-card
              +room-card(consts.roomCard9)
            .search-room__room-card.js-search-room__room-card
              +room-card(consts.roomCard10)
            .search-room__room-card.js-search-room__room-card
              +room-card(consts.roomCard11)
            .search-room__room-card.js-search-room__room-card
              +room-card(consts.roomCard12)
          .search-room__pagination
            +pagination({ currentPage: 1, lastPage: 15, captionText: '1 - 12 из 100+ вариантов аренды' })