//- В color передаётся "white" или "purple". В place передаётся "in-form" или "in-header"!
mixin button({ color, place, text })

  button.button(type="button", class=`button_color_${color} button_place_${place}`)= text