@import '../toxin-logo/toxin-logo.scss';

.footer-creative{
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  padding: 5.21vw 22.9vw 5.73vw 22.9vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__logo{
    margin-bottom: 18px;
  }
  &__text{
    font-family: $montserrat;
    font-size: 14px;
    line-height: 24px;
    color: $dark-shade-75;
    text-align: center;
    margin-bottom: 27px;
  }
  &__icons{
    display: flex;
  }
  &__icon{
    margin-right: 20px;
    &:last-child{
      margin-right: 0;
    }
    width: 24px;
    height: 24px;
  }
  &__twitter{
    background: url(../../../components/footer-creative/img/twitter.svg) no-repeat center;
  }
  &__facebook{
    background: url(../../../components/footer-creative/img/facebook.svg) no-repeat center;
  }
  &__instagram{
    background: url(../../../components/footer-creative/img/instagram.svg) no-repeat center;
  }
}