include ../toxin-logo/toxin-logo.pug
include ../social-media/social-media.pug

mixin footer-creative()

  .footer-creative
    .footer-creative__wrapper
      .footer-creative__logo
        +toxin-logo()
      .footer-creative__text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
      .footer-creative__icons
        .footer-creative__social-media 
         +social-media()