include ../toxin-logo/toxin-logo.pug

mixin footer-creative()

  .footer-creative
    .footer-creative__wrapper
      .footer-creative__logo
        +toxin-logo()
      .footer-creative__text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
      .footer-creative__icons
        a(href="https://twitter.com", target="_blank", rel="noopener noreferrer").footer-creative__icon.footer-creative__icon_type_twitter
        a(href="https://www.facebook.com", target="_blank", rel="noopener noreferrer").footer-creative__icon.footer-creative__icon_type_facebook
        a(href="https://www.instagram.com", target="_blank", rel="noopener noreferrer").footer-creative__icon.footer-creative__icon_type_instagram