mixin like-button({count, isLiked})

  -
    let likedMod = ""
    let heart = "favorite_border"
    if(isLiked){
      likedMod = "_liked"
      heart = "favorite"
    }


  .like-button.js-like-button(class="like-button" + likedMod)
    .like-button__heart.js-like-button__heart(class="like-button__heart" + likedMod)= heart
    .like-button__count.js-like-button__count(class="like-button__count" + likedMod)= count