mixin like-button({count, isLiked})

  -
    let liked = ""
    let heart = "favorite_border"
    if(isLiked){
      liked = "_liked"
      heart = "favorite"
    }


  .like-button.js-like-button(class="like-button" + liked)
    .like-button__heart.js-like-button__heart(class="like-button__heart" + liked)= heart
    .like-button__count.js-like-button__count(class="like-button__count" + liked)= count