extends ../../layout/layout.pug
include ../../../components/header/header.pug
include ../../../components/footer/footer.pug
include ../../../components/abouts-room/abouts-room.pug
include ../../../components/comment/comment.pug
include ../../../components/bullet-list/bullet-list.pug
include ../../../components/booking-room-card/booking-room-card.pug

block variables
  -
    const pageClass = "room-details"

    const roomDetailsInSite = [{materIcon: "insert_emoticon", title: "Комфорт", description: "Шумопоглащающие стены"},
                  {materIcon: "location_city", title: "Удобство", description: "Окно в каждой из спален"},
                  {materIcon: "whatshot", title: "Уют", description: "Номер оснащён камином"}]        

    const bulletList = ["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"]

block title
  title Room details
  
block content
  section.room-details__images
    .room-details__left-image
      img(src=require("./img/room-details1.jpg").default, alt="Room image").room-details__image
    .room-details__right-images
      img(src=require("./img/room-details2.jpg").default, alt="Room image").room-details__image
      img(src=require("./img/room-details3.jpg").default, alt="Room image").room-details__image
  main.room-details__content
    .room-details__main-wrapper
      section.room-details__info
        .room-details__wrapper
          .room-details__room-info
            .room-details__text Сведения о номере
            .room-details__abouts-room
              +abouts-room({roomDetails: roomDetailsInSite})
          .room-details__room-impression
            .room-details__text Впечатления от номера
            .room-details__wrapper.room-details__wrapper_place_impression
              .room-details__diagram
              ul.room-details__list
                li.room-details__el Великолепно
                li.room-details__el Хорошо
                li.room-details__el Удовлетворительно
                li.room-details__el Разочарован
        .room-details__wrapper.room-details__wrapper_place_feedback
          .room-details__text Отзывы посетителей номера
          .room-details__num-of-comments 2 отзыва
        .room-details__comments
          .room-details__comment
            +comment({avatar: "avatar1.jpg", name: "Мурад Сарафанов", dateText: "5 дней назад", likeButton: {count: 12, isLiked: true}, text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."})      
          .room-details__comment
            +comment({avatar: "avatar2.jpg", name: "Патрисия Стёклышкова", dateText: "Неделю назад", likeButton: {count: 2}, text: "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент"})      
        .room-details__wrapper
          .room-details__rules
            .room-details__text.room-details__text_place_rules Правила
            .room-details__bullet-list
              +bullet-list({bulletList})
          .room-details__cancel
            .room-details__text Отмена
            .room-details__cancel-text Бесплатная отмена в течении 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
      section.room-details__booking-room-card
        +booking-room-card({number: "888", costForDay: "9 990", isLux: true})