//- Сюда передаётся массив[]
mixin abouts-room(roomDetails)

  .abouts-room  
    each item in roomDetails
      - const {materIcon, title, description} = item
      .about-room
        .about-room__icon= materIcon
        .about-room__wrapper
          p.about-room__title(class="about-room__text")= title
          p.about-room__description(class="about-room__text")= description