.abouts-room{
  width: 100%;
}
.about-room{
  display: flex;
  border-bottom: 1px solid $color-main-1;
  margin-bottom: 20px;
  &:last-child{
    margin-bottom: 0px;
    border: none;
  }
  &__icon{
    font-family: $material-icons;
    font-size: 3rem;
    background: $color-secondary-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $color-secondary;
    margin-right: 10px;
    padding-bottom: 20px;
  }
  &__text {
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
  &__title{
    font-weight: bold;
  }
  &__description{
    font-weight: normal;
  }
}