include ../date-dropdown/date-dropdown.pug
include ../dropdown/dropdown.pug
include ../submit-button/submit-button.pug

mixin booking-room-card({ roomNumber, costForDay, isLux })

  - const consts = require('@components/booking-room-card/constants.json')

  .booking-room-card.js-booking-room-card
    .booking-room-card__content
      form(action="/mock-address", method="post")
        .booking-room-card__title
          .booking-room-card__symbol № 
          .booking-room-card__number(class=!isLux && "booking-room-card__number_no-lux")= roomNumber
          if(isLux)
            .booking-room-card__lux ЛЮКС
          .booking-room-card__cost-for-day #{costForDay}&#8381;
          .booking-room-card__text в сутки
        .booking-room-card__date-dropdown.js-booking-room-card__date-dropdown
          +date-dropdown({ title: 'Прибытие', title2: 'Выезд' })
        .booking-room-card__dropdown.js-booking-room-card__dropdown
          +dropdown({ title: 'Гости', elements: consts.dropdownInBookRoomCard, isButtons: true, resultDefault: 'Сколько гостей', keyWords: ['гость','гостя','гостей'] })
        .booking-room-card__calculate
          .booking-room-card__row
            .booking-room-card__sum #{costForDay}&#8381; х 4 суток
            .booking-room-card__cost 39 960&#8381;
          .booking-room-card__row
            .booking-room-card__services Сбор за услуги: скидка 2 179&#8381;
            .booking-room-card__cost 0&#8381;
          .booking-room-card__row
            .booking-room-card__add-services Сбор за дополнительные услуги
            .booking-room-card__cost 300&#8381;
        .booking-room-card__total
          .booking-room-card__total-text Итого
          .booking-room-card__border
          .booking-room-card__total-sum 38 081&#8381;
        .booking-room-card__submit-button  
          +submit-button({ text: 'Забронировать' })