.date-dropdown {
  width: 100%;
  display: flex;
  justify-content: space-between;
  &__title {
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $color-main-100;
    margin-bottom: 5.44px;
  }
  &__wrapper {
    max-width: 150px;
    position: relative;
  }
  &__arrow {
    font-family: $material-icons;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
    cursor: default;
    width: 2.75rem;
    color: $color-main-75;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 2.6875rem;
    border-radius: 4px;
    background-color: white;
    user-select: none;
    &:hover + .date-dropdown__input {
      border-color: $color-main-50;
    }
  }
  &__input {
    width: 100%;
    outline: none;
    padding: 0.8125rem 0.3125rem 0.6875rem 0.9375rem;
    background: #ffffff;
    border: 1px solid $color-main-25;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: inherit;
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: $color-main-75;
    &::placeholder {
      color: $color-main-75;
      text-transform: uppercase;
    }
    &:focus {
      border-color: $color-main-50;
    }
    &:hover {
      border-color: $color-main-50;
    }
  }
}
