@import '../../scss/variables.scss';

.subscription {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0.75rem;
  width: 100%;
  &__title {
    text-transform: uppercase;
    font-weight: bold;
    color: $main-color-darker;
    margin-bottom: 5px;
  }
  &__subtitle {
    text-transform: uppercase;
    color: $main-color;
  }
  &__button-background {
    background-color: white;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 43px;
    height: 40px;
    border-radius: 4px;
  }
  &__button {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    font-family: $material-icons;
    font-size: 1.5rem;
    line-height: 2.625rem;
    background: $secondary-color-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $secondary-color;
    border: none;
    cursor: pointer;
    user-select: none;
    &:hover ~ .subscription-text-field__input {
      border-color: $main-color;
    }
  }
  &__wrapper {
    width: 100%;
    position: relative;
  }
  &__input {
    width: 100%;
    padding: 13px 5px 11px 15px;
    background: #ffffff;
    border: 1px solid $main-color-light;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: inherit;
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: $main-color-dark;
    outline: none;
    &::placeholder {
      color: $main-color-light;
    }
    &:focus {
      border-color: $main-color;
    }
    &:hover {
      border-color: $main-color;
    }
  }
}
