mixin about-room({ roomDetails = [{ materIcon: 'insert_emoticon', title: 'Комфорт', description: 'Шумопоглащающие стены' }, {}] })

  .about-room  
    each item in roomDetails
      - const { materIcon, title, description } = item
      .about-room__element
        .about-room__icon= materIcon
        .about-room__wrapper
          p.about-room__text.about-room__text_bold= title
          p.about-room__text= description