mixin expandable-checkbox({title, checkboxList, isExpanded})

  -
    let expanded_mod = ""
    if(isExpanded)
      expanded_mod = "_expanded"

  .expandable-checkbox.js-expandable-checkbox
    .expandable-checkbox__wrapper.js-expandable-checkbox__wrapper
      .expandable-checkbox__title= title
      .expandable-checkbox__arrow.js-expandable-checkbox__arrow(class="expandable-checkbox__arrow" + expanded_mod) expand_more
    .expandable-checkbox__checkboxes.js-expandable-checkbox__checkboxes(class="expandable-checkbox__checkboxes" + expanded_mod)
      +checkbox({checkboxes: checkboxList})