@import '../checkbox/checkbox.scss';

.expandable-checkbox{
  width: 100%;
  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5px;
    cursor: pointer;
    user-select: none;
  }
  &__title{
    font-family: $montserrat;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: $dark-shade-100;
  }
  &__arrow{
    font-family: $material-icons;
    font-size: 24px;
    width: 44px;
    height: 44px;
    line-height: 44px;
    color: $dark-shade-50;
    text-align: center;
    transition-duration: 0.5s;
    &_expanded{
      transform: rotate(180deg);
    }
  }
  &__checkboxes{
    display: none;
    &_expanded{
      display: block;
    }
  }
}