mixin checkbox-list({title, checkbox_list})

  .checkbox-list
    .checkbox-list__wrapper
      .checkbox-list__title= title
      .checkbox-list__arrow(class="") expand_more
    .checkbox-list__checkboxes(class="")
      +checkbox(checkbox_list)