include ../checkbox/checkbox.pug

mixin expandable-checkbox({title, checkboxList, isExpanded})

  -
    let expandedMod = ""
    if(isExpanded)
      expandedMod = "_expanded"

  .expandable-checkbox.js-expandable-checkbox
    .expandable-checkbox__wrapper.js-expandable-checkbox__wrapper
      .expandable-checkbox__title= title
      .expandable-checkbox__arrow.js-expandable-checkbox__arrow(class="expandable-checkbox__arrow" + expandedMod) expand_more
    .expandable-checkbox__checkboxes.js-expandable-checkbox__checkboxes(class="expandable-checkbox__checkboxes" + expandedMod)
      +checkbox({checkboxes: checkboxList})