@import '../../../scss/variables.scss';

.home-page {
  &__content {
    width: 200px;
    margin: 50px auto 0;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
  }
  &__link {
    color: $main-color-darker;
    font-size: 18px;
  }
}
