@import '../../../../node_modules/ion-rangeslider/css/ion.rangeSlider.min.css';

.range-slider{
  width: 100%;
  &__wrapper{
    display: flex;
    justify-content: space-between;
    font-family: $montserrat;
    font-size: 12px;
    text-transform: uppercase;
  }
  &__title{
    font-weight: bold;
    color: $dark-shade-100;
  }
  &__result{
    color: $dark-shade-50;
  }
}
.irs--round{
  height: 35px;
}
.irs--round .irs-line{
  height: 6px;
  background: #fff;
  border: 1px solid $dark-shade-25;
  border-radius: 3px;
  box-sizing: border-box;
  top: 23px;
}
.irs--round .irs-handle{
  width: 12px;
  height: 12px;
  background: $green-gradient;
  border: 2px solid #fff;
  border-radius: 10px;
  box-sizing: content-box;
  box-shadow: none;
  cursor: pointer;
  top: 18px;
}
.irs--round .irs-bar{
  height: 6px;
  background: $green-gradient;
  top: 23px;
}