mixin range-slider({ title })

  .range-slider.js-range-slider
    .range-slider__wrapper
      .range-slider__title= title
      .range-slider__result.js-range-slider__result
    .range-slider__slider
      input(type="text" class="range-slider-here" name="my_range" value="")