mixin range-slider({ title = 'title' })

  .range-slider.js-range-slider
    .range-slider__wrapper
      .range-slider__title= title
      .range-slider__result.js-range-slider__result
    .range-slider__slider
      input.range-slider__slider-input.js-range-slider__slider-input(type="text")