mixin rich-checkbox({ richCheckboxes = [{ label: 'string', description: 'string' }] })

  .rich-checkboxes
    each item in richCheckboxes
      - const { label, description } = item
      .rich-checkbox
        label.rich-checkbox__label
          input.rich-checkbox__input(type="checkbox", name=label)
          span.rich-checkbox__box
          span.rich-checkbox__text= label
        .rich-checkbox__description= description