//- Сюда передаётся массив[]
mixin rich-checkbox(richCheckbox)
  
  
  .rich-checkboxes
    each item in richCheckboxes
      - const {label, description} = item
      .rich-checkbox
        label.rich-checkbox__label
          input.rich-checkbox__input(type="checkbox", name= label)
          span.rich-checkbox__box
          = label
        .rich-checkbox__description= description