include ../text-field/text-field.pug
include ../submit-button/submit-button.pug
include ../button/button.pug

mixin sign-in-card()

  .sign-in-card
    .sign-in-card__content
      form(action="/mock-address", method="post")
        .sign-in-card__title Войти
        .sign-in-card__email
          +text-field({fieldType: "text", inputType: "email", placeholder: "Email", isRequired: true})
        .sign-in-card__password
          +text-field({fieldType: "text", inputType: "password", placeholder: "Пароль", isRequired: true})
        .sign-in-card__submit
          +submit-button({text: "Войти"})
        .sign-in-card__sign-up
          .sign-in-card__sign-up-text Нет аккаунта на Toxin?
          .sign-in-card__sign-up-button 
          +button({color: "white", place: "in-form", text: "Cоздать"})