@import '../text-fields/text-fields.scss';
@import '../submit-button/submit-button.scss';
@import '../button/button.scss';

.sign-in-card {
  background-color: white;
  padding: 40px 30px 30px 30px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  @media (max-width: 360px) {
    padding: 40px 4.33vw 30px 4.33vw;
  }
  &__title {
    font-family: $font-secondary-reserve;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 20px;
    line-height: 1.875rem;
  }
  &__email {
    margin-bottom: 10px;
  }
  &__password {
    margin-bottom: 20px;
  }
  &__submit {
    margin-bottom: 30px;
  }
  &__sign-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  &__sign-up-text {
    font-family: $font-main;
    font-size: 0.875rem;
  }
}
