@import '../like-button/like-button.scss';

.comment {
  width: 100%;
  font-size: 0.875rem;
  color: $color-main-75;
  &__author {
    display: flex;
    margin-bottom: 7px;
  }
  &__image {
    width: 48px;
    height: 48px;
    border: 1px solid #fff;
    border-radius: 50%;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.1);
  }
  &__wrapper {
    margin-left: 9px;
    margin-top: 4px;
  }
  &__name {
    font-weight: bold;
    margin-bottom: 6px;
  }
  &__feedback {
    display: flex;
  }
  &__like-button {
    margin-left: 4px;
  }
  &__text {
    margin-left: 14px;
    line-height: 1.5rem;
  }
}
