.radio-button {
  margin-right: 20px;
  display: inline-block;
  &:last-child {
    margin-right: 0;
  }
  &__label {
    display: inline-block;
    padding-left: 1.875rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: $color-main-50;
    cursor: pointer;
  }
  &__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &:checked + .radio-button__box {
      border-color: $color-secondary;
    }
    &:checked + .radio-button__box::before {
      content: '';
      position: absolute;
      top: 0.1875rem;
      left: 0.1875rem;
      width: 0.75rem;
      height: 0.75rem;
      background: $color-secondary-gradient;
      border-radius: 50%;
      box-sizing: border-box;
    }
  }
  &__box {
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    box-sizing: border-box;
    margin-left: -1.875rem;
    border: 1px solid $color-main-25;
    border-radius: 50%;
    background-color: white;
  }
}
