include ../text-field/text-field.pug
include ../masked/masked.pug
include ../radio-button/radio-button.pug
include ../toggle/toggle.pug
include ../submit-button/submit-button.pug
include ../button/button.pug

mixin sign-up-card()

  - const consts = require('@components/sign-up-card/constants.json')

  .sign-up-card.js-sign-up-card
    .sign-up-card__content
      form(action="/mock-address", method="post")
        .sign-up-card__title Регистрация аккаунта
        .sign-up-card__name
          +text-field({ type: 'text', placeholder: 'Имя', isRequired: true })
        .sign-up-card__surname
          +text-field({ type: 'text', placeholder: 'Фамилия', isRequired: true })
        .sign-up-card__radio
          +radio-button({ title: 'Пол', radioButtons: consts.radioButtons })
        .sign-up-card__birthday
          +masked({ title: 'Дата рождения', isRequired: true })
        .sign-up-card__email
          +text-field({ type: 'email', title: 'Данные для входа в сервис', placeholder: 'Email', inputType: 'email', isRequired: true })
        .sign-up-card__password
          +text-field({ type: 'password', placeholder: 'Пароль', inputType: 'password', isRequired: true })
        .sign-up-card__toggle
          +toggle({ label: 'Получать спецпредложения' })
        .sign-up-card__submit
          +submit-button({ text: 'Перейти к оплате' })
        .sign-up-card__sign-in
          .sign-up-card__sign-in-text Уже есть аккаунт на Toxin 
          .sign-up-card__sign-in-button 
          +button({ color: 'white', place: 'in-form', text: 'Войти' })
