@import '../../../scss/fonts.scss';
@import '../../../scss/colors.scss';
@import '../../../components/header/header.scss';
@import '../../../components/footer/footer.scss';
@import '../../../components/sign-up-card/sign-up-card.scss';

html {
  font-size: 16px;
  font-family: $montserrat;
}

body {
  margin: 0;
}

.registration{
  &__image{
    padding: 30px 0 26px 0;
    background: url(./img/registration.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
  }
  &__sign-up-card{
      max-width: 380px;
      margin: 0 auto;
  }
}