extends ../../layout/layout.pug
include ../../../components/header/header.pug
include ../../../components/footer/footer.pug
include ../../../components/sign-up-card/sign-up-card.pug

block variables 
  - const pageClass = 'registration'

block title
  title Registration

block content
  main.registration__image
    .registration__sign-up-card.js-registration__sign-up-card
      +sign-up-card()