extends ../../layout/layout.pug
include ../../../components/header/header.pug
include ../../../components/footer/footer.pug
include ../../../components/search-room-card/search-room-card.pug

block variables 
  -
    const pageClass = "landing-page"

block title
  title Landing page

block content
  main.landing-page__image
    .landing-page__wrapper
      .landing-page__search-room-card
        +search-room-card()
      .landing-page__text Лучшие номера для вашей работы, отдыха и просто вдохновения