mixin filter-date({title})

  .filter-date.js-filter-date
    .filter-date__title= title
    .filter-date__wrapper
      .filter-date__arrow expand_more
      input.filter-date__input.js-filter-date__input( class="datepicker-here", type= "text", placeholder= "19 авг - 23 авг", readonly)