mixin filter-date({title})

  .filter-date
    .filter-date__title= title
    .filter-date__wrapper
      .filter-date__arrow expand_more
      input.filter-date__input.date-dropdown__input-1( class="datepicker-here", type= "text", placeholder= "19 авг - 23 авг", readonly)