@import '../../scss/variables.scss';

.masked-text-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  font-size: 0.75rem;
  &__title {
    text-transform: uppercase;
    font-weight: bold;
    color: $main-color-darker;
    margin-bottom: 5px;
  }
  &__subtitle {
    text-transform: uppercase;
    color: $main-color;
  }
  &__tooltip {
    transform: scaleY(0);
    position: absolute;
    bottom: -35px;
    width: 100%;
    border: 1px solid red;
    background-color: white;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 5px;
    font-size: 12px;
    transform-origin: 0 0;
    transition: transform 0.2s;
    &::before {
      content: '';
      position: absolute;
      bottom: 21px;
      right: 10%;
      box-sizing: border-box;
      width: 10px;
      height: 10px;
      background-color: white;
      border-top: 1px solid red;
      border-left: 1px solid red;
      transform: rotate(45deg);
    }
    &_shown {
      transform: scaleY(1);
    }
  }
  &__input {
    width: 100%;
    padding: 13px 5px 11px 15px;
    background: #ffffff;
    border: 1px solid $main-color-light;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: inherit;
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: $main-color-dark;
    outline: none;
    &::placeholder {
      color: $main-color-light;
    }
    &:focus {
      border-color: $main-color;
    }
    &:hover {
      border-color: $main-color;
    }
  }
}
