include ../toxin-logo/toxin-logo.pug
include ../button/button.pug

mixin header({ navbar, userName, buttonLogin, buttonRegister })

  .header.js-header
    .header__wrapper
      .header__content
        .header__toxin-logo
          +toxin-logo()
        .header__navbar.js-header__navbar
          each item in navbar
            - const { url, text, submenu } = item
            if(submenu)
              .header__nav-item.js-header__nav-item
                .header__text= text
                  .header__submenu.header__submenu_hidden.js-header__submenu
                    each subitem in submenu
                      - const { url, text } = subitem
                      a(href=url).header__text.header__text_place_in-submenu= text
                .header__arrow expand_more
            else
              .header__nav-item
                a(href=url).header__text= text
        .header__user-icon.js-header__user-icon person
        if(userName)
          .header__username.js-header__username= userName
        else
          .header__buttons.js-header__buttons
            .header__button.header__button_type_login
                +button({ place: 'in-header', color: 'white', text: buttonLogin })
            .header__button.header__button_type_register
                +button({ place: 'in-header', color: 'purple', text: buttonRegister })
        .header__burger.js-header__burger dehaze
