@import '../toxin-logo/toxin-logo.scss';
@import '../button/button.scss';

.header{
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  &__wrapper{
    max-width: 1160px;
    margin: 0 auto;
    padding: 15px 0;
    @media (max-width: 1440px) {
      padding: 15px 5.21vw;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  &__navbar{
    display: flex;
    margin-left: auto;
    z-index: 1;
    @media (max-width: 760px) {
      position: absolute;
      flex-direction: column;
      margin-left: initial;
      top: 40px;
      right: 0;
      background-color: #fff;
      box-shadow: 0px 7px 5px 1px rgba(31, 32, 65, 0.05);
      display: none;
      &_shown {
        display: block;
      }
    }
  }
  &__nav-item{
    display: flex;
    margin-right: 20px;
    position: relative;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
    @media (max-width: 1440px) {
    }
    @media (max-width: 760px) {
      margin-left: 5px;
      margin-right: 20px;
      padding: 10px;
      border-bottom: 1px solid $color-main-1;
      &:last-child {
        border-bottom: none;
      }
    }
  }
  &__submenu{
    background: #fff;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 7px 5px 1px rgba(31, 32, 65, 0.05);
    &_hidden{
      display: none;
    }
    @media (max-width: 760px) {
      position: initial;
      box-shadow: none;
    }
  }
  &__submenu-text{
    padding: 5px 2px;
    @media (max-width: 760px) {
      position: initial;
      box-shadow: none;
      padding: 0 7px;
      margin: 15px 0 0px 0;
    }
  }
  &__text{
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: $color-main-50;
    text-decoration: none;
    @media (max-width: 760px) {
      font-size: 20px;
    }
  }
  &__arrow{
    font-family: $material-icons;
    font-size: 1.5rem;
    color: $color-main-50;
    line-height: 1.25rem;
    width: 1.5rem;
    height: 1.3125rem;
    cursor: pointer;
  }
  &__user-icon{
    display: none;
    font-family: $material-icons;
    font-size: 2.1875rem;
    color: $color-secondary;
    cursor: pointer;
    user-select: none;
    @media (max-width: 1000px) {
      display: initial;
    }
    @media (max-width: 760px) {
      margin-left: auto;
      margin-right: 20px;
    }
  }
  &__username{
    border-left: 1px solid $color-main-25;
    padding-left: 30px;
    margin-left: 10px;
    cursor: pointer;
    @media (max-width: 1000px) {
      position: absolute;
      top: 40px;
      right: 0;
      background-color: #fff;
      box-shadow: 0px 7px 5px 1px rgba(31, 32, 65, 0.05);
      border-left: none;
      padding: 5px;
      display: none;
      &_shown{
        display: block;
      }
    }
  }
  &__buttons{
    z-index: 2;
    display: flex;
    margin-left: 20px;
    @media (max-width: 1000px) {
      position: absolute;
      flex-direction: column;
      top: 40px;
      right: 0;
      background-color: #fff;
      box-shadow: 0px 7px 5px 1px rgba(31, 32, 65, 0.05);
      display: none;
      &_shown{
        display: block;
      }
    }
  }
  &__button{
    @media (max-width: 1000px) {
      padding: 10px;
      margin-left: 5px;
    }
  }
  &__button-login{
    margin-right: 20px;
    position: relative;
    @media (max-width: 1000px) {
      margin-right: 5px;
      border-bottom: 1px solid $color-main-1;
    }
  }
  &__burger{
    display: none;
    font-family: $material-icons;
    font-size: 2.5625rem;
    color: $color-secondary;
    cursor: pointer;
    user-select: none;
    @media (max-width: 760px) {
      display: initial;
    }
  }
}