.text-field, .subscription-text-field, .masked-text-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0.75rem;
  &__title {
    text-transform: uppercase;
    font-weight: bold;
    color: $dark-shade-100;
    margin-bottom: 5px;
  }
  &__subtitle{
    text-transform: uppercase;
    color: $dark-shade-50;
  }
  &__button{
    position: absolute;
    top: 0;
    right: 0;
    width: 2.75rem;
    height: 2.75rem;
    font-family: $material-icons;
    font-size: 1.5rem;
    line-height: 2.625rem;
    background: $purple-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $purple;
    border: none;
    cursor: pointer;
    &-background{    // белая подложка под стрелку
      background-color: white;
      position: absolute;
      top: 1px;
      right: 1px;
      width: 2.6875rem;
      height: 2.5rem;
      border-radius: 4px;
    }
    &:hover ~ .subscription-text-field__input {
      border-color: $dark-shade-50;
    }
  }
  &__wrapper{
    width: 100%;
    position: relative;
  }
  &__input{
    width: 100%;
    padding: 0.8125rem 0.3125rem 0.6875rem 0.9375rem;
    background: #FFFFFF;
    border: 1px solid $dark-shade-25;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: inherit;
    font-size: .875rem;
    line-height: 1.125rem;
    color: $dark-shade-75;
    outline: none;
    &::placeholder {
      color: $dark-shade-25;
    }
    &:focus {
      border-color: $dark-shade-50;
    }
    &:hover {
      border-color: $dark-shade-50;
    }
  }
}