mixin type(title, text)

  .type
    if title == "H1"
      h1.type__text(class="type__text_" + title)
        span.type__span(class="type__span_" + title)= title
        = text
    if title == "H2"
      h1.type__text(class="type__text_" + title)
        span.type__span(class="type__span_" + title)= title
        = text
    if title == "H3"
      h1.type__text(class="type__text_" + title)
        span.type__span(class="type__span_" + title)= title
        = text
    if title == "body"
      h1.type__text(class="type__text_" + title)
        span.type__span(class="type__span_" + title)= title
        = text