//- параметр title принимает: 'H1', 'H2', 'H3' или 'body'

mixin type({title, text})

  .type
    .type__name(class="type__name_font_" + title)= title
    h1.type__text(class="type__text_font_" + title)= text