.type {
  display: flex;
  &__text {
    margin: 0;
    margin-left: 30px;
    &_H1 {
      font-size: 24px;
      font-family: $quicksand;
      font-weight: bold;
      color: $dark-shade-100;
    }
    &_H2 {
      font-size: 19px;
      font-family: $quicksand;
      font-weight: bold;
      color: $dark-shade-100;
    }
    &_H3 {
      font-size: 12px;
      font-family: $montserrat;
      font-weight: bold;
      text-transform: uppercase;
      color: $dark-shade-100;
    }
    &_body {
      font-size: 14px;
      font-family: $montserrat;
      font-weight: normal;
      color: $dark-shade-75;
      line-height: 24px;
    }
  }
  &__span {
    min-width: 37px;
    text-align: right;
    color: $dark-shade-25;
    font-family: $montserrat;
    font-weight: normal;
    &_H1 {
      font-size: 24px;
    }
    &_H2 {
      font-size: 19px;
    }
    &_H3 {
      font-size: 12px;
    }
    &_body {
      font-size: 14px;
    }
  }
}