@import '../../../scss/variables.scss';

html {
  font-size: 16px;
  font-family: $font-main;
}

.cards {
  margin: 0;
  background: #f4f4f6;
  &__logo {
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 30px;
    @media (max-width: 1440px) {
      padding-left: 2.1vw;
    }
    @media (max-width: 840px) {
      display: none;
    }
  }
  &__wrapper_for-logo {
    position: absolute;
    top: 30px;
  }
  &__content {
    max-width: 1160px;
    margin: 150px auto 140px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 1440px) {
      margin: 10.4vw auto 9.72vw;
    }
    @media (max-width: 1120px) {
      justify-content: space-evenly;
    }
    @media (max-width: 400px) {
      padding: 0;
    }
  }
  &__column {
    width: 380px;
    margin-right: 10px;
    margin-bottom: 40px;
    &:last-child {
      width: 320px;
      margin-right: 0;
      margin-bottom: 0;
    }
    @media (max-width: 1109px) {
      &:nth-child(2) {
        margin-right: 0;
      }
    }
    @media (max-width: 779px) {
      margin-right: 0;
    }
  }
  &__search-room-card,
  &__booking-room-card,
  &__calendar,
  &__room-card {
    margin-bottom: 40px;
  }
  &__calendar {
    margin-bottom: 75px;
  }
  &__room-card {
    width: 270px;
  }
}
