@import '../../../scss/fonts.scss';
@import '../../../scss/colors.scss';
@import '../../../components/search-room-card/search-room-card.scss';
@import '../../../components/sign-up-card/sign-up-card.scss';

body {
  max-width: 1440px;
  margin: 0 auto;
  background: #f4f4f6;
}
.test{
  width: 380px;
  margin: 0;
}
.test1{
  margin-top: 200px;
  width: 320px;
}
.test2{
  margin-top: 200px;
  width: 267px;
}