@import '../../../scss/fonts.scss';
@import '../../../scss/colors.scss';
@import '../../../components/logo/logo.scss';
@import '../../../components/search-room-card/search-room-card.scss';
@import '../../../components/sign-up-card/sign-up-card.scss';
@import '../../../components/sign-in-card/sign-in-card.scss';
@import '../../../components/booking-room-card/booking-room-card.scss';
@import '../../../components/rate-button/rate-button.scss';
@import '../../../components/room-card/room-card.scss';
@import '../../../components/calendar/calendar.scss';

body {
  margin: 0 auto;
  background: #f4f4f6;
}
.logo {
  position: absolute;
  top: 30px;
  margin-left: 30px;
  @media (max-width: 880px) {
      display: none;
  }
}
.cards{
  &__content{
    max-width: 1160px;
    margin: 150px auto 140px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 1440px) {
      margin: 10.4vw auto 9.72vw;
    }
    @media (max-width: 1120px) {
      justify-content: space-evenly;
    }
    @media (max-width: 400px) {
      padding: 0;
    }
  }
  &__column{
    width: 380px;
    margin-right: 10px;
    margin-bottom: 40px;
    &:last-child{
      width: 320px;
      margin-right: 0;
      margin-bottom: 0;
    }
    @media (max-width: 1109px) {
      &:nth-child(2) {
        margin-right: 0;
      }
    }
    @media (max-width: 779px) {
      margin-right: 0;
    }
  }
  &__search-room-card, &__booking-room-card, &__calendar, &__room-card{
    margin-bottom: 40px;
  }
  &__calendar{
    margin-bottom: 35px;

  }
  &__room-card{
    width: 270px;
  }
}