extends ../../layout/layout.pug
include ../../../components/logo/logo.pug
include ../../../components/search-room-card/search-room-card.pug
include ../../../components/sign-up-card/sign-up-card.pug
include ../../../components/sign-in-card/sign-in-card.pug
include ../../../components/booking-room-card/booking-room-card.pug
include ../../../components/rate-button/rate-button.pug
include ../../../components/room-card/room-card.pug

block variables 
  - const pageClass = 'cards'

block favicons 

block title
  title Cards 

block header 

block content  
  .cards__logo
      .cards__wrapper_for-logo
        +logo()
  .cards__content
    .cards__column
      .cards__search-room-card.js-cards__search-room-card
        +search-room-card()
      .cards__sign-up-card.js-cards__sign-up-card
        +sign-up-card()
    .cards__column
      .cards__booking-room-card.js-cards__booking-room-card
        +booking-room-card({ roomNumber: '888', costForDay: '9 990', isLux: true })
      .cards__sign-in-card
        +sign-in-card()
    .cards__column
      .cards__calendar
        .datepicker-here(data-prev-html='<div class="datepicker__arrow">arrow_back</div>', data-next-html='<div class="datepicker__arrow">arrow_forward</div>')
      .cards__room-card.js-cards__room-card
        +room-card({ images: ['room1.jpg', 'room2.jpg', 'room3.jpg', 'room4.jpg'], roomNumber: '888', isLux: true, costForDay: '9 990', activeStars: 5, numOfComments: '145' })
      .cards__room-card.js-cards__room-card
        +room-card({ images: ['room2.jpg', 'room3.jpg', 'room4.jpg', 'room5.jpg'], roomNumber: '840', costForDay: '9 990', activeStars: 4, numOfComments: '65' })

block footer