mixin checkbox({ label = "Можно курить", isChecked = false })

  .checkbox
    label.checkbox__label
      input.checkbox__input(type="checkbox", name=label, checked=isChecked)
      span.checkbox__box
      span.checkbox__text= label