<!-- Сюда передаётся массив[] -->
mixin checkbox(checkboxes)

  .checkboxes
    each item in checkboxes
      - const {label, isChecked} = item
      .checkbox
        label.checkbox__label
          input.checkbox__input(type="checkbox", name= label, checked=isChecked)
          span.checkbox__box
          = label