.checkbox{
  margin-bottom: 10.5px;
  &:last-child{
    margin-bottom: 0;
  }
  &__label{
    display: inline-block;
    padding-left: 30px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: $color-main-50;
    cursor: pointer;
  }
  &__input{
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &:checked + .checkbox__box{
      border-color: $color-secondary;
    }
    &:checked + .checkbox__box::before{
      content: "";
      position: absolute;
      top: 0.25rem;
      left: 0.375rem;
      width: 0.375rem;
      height: 0.5rem;
      border-width: 0 2px 2px 0;
      -moz-border-image:  $color-secondary-gradient;
      -webkit-border-image:  $color-secondary-gradient;
      border-image: $color-secondary-gradient;
      border-color: transparent;
      border-image-slice: 1;
      border-style: solid;
      border-radius: 0;
      transform: rotate(45deg);
      box-sizing: border-box;
    }
  }
  &__box{
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    box-sizing: border-box;
    margin-left: -30px;
    border: 1px solid $color-main-25;
    border-radius: 4px;
    background-color: white;
  }
}