.bullet-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  &__el {
    position: relative;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: $color-main-75;
    margin-bottom: 10px;
    padding-left: 21px;
    &:last-child {
      margin-bottom: 0;
    }
    &::before {
      content: '';
      position: absolute;
      width: 0.625rem;
      height: 0.625rem;
      background: $color-main-25;
      border-radius: 50%;
      margin-left: -21px;
      top: 0.375rem;
    }
  }
}
