@import "../../../scss/fonts.scss";
@import "../../../scss/colors.scss";
@import "../../../components/logo/logo.scss";
@import "../../../components/header/header.scss";
@import "../../../components/footer-creative/footer-creative.scss";
@import "../../../components/footer/footer.scss";

body {
  max-width: 1440px;
  margin: 0 auto;
  background: #F4F4F6;
}

.test{
}