include ../../../pug/variables.pug
include ../../../components/logo/logo.pug
include ../../../components/header/header.pug
include ../../../components/footer-creative/footer-creative.pug
include ../../../components/footer/footer.pug

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="./headers-footers.scss")
    <link rel="icon" type="image/png" sizes="16x16" href="../../../favicon/favicon-16x16.png">

    title Headers&Footers
  body
    .logo
      .logo__wrapper
        +logo
    .headers-footers
      .headers-footers__header
        +header({navbar: navbarInHeaderEn, butLogin: "login", butRegister: "register"})
      .headers-footers__header_user
        +header({navbar: navbarInHeaderEn, userName: "Cosmin Negoita"})
      .headers-footers__footer
        +footer({footerText: "Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.", menu: footerMenuEn, subscribeTitle: "Subscribe to our newsletter", subscribeText: "Receive our latest news and promotions in your inbox!", copyright: "Copyright © 2018 Toxin UI Kit. All rights reserved."})
      .headers-footers__footer-creative
        +footer-creative()

    script(src="./index.js")