extends ../../layout/layout.pug
include ../../../components/logo/logo.pug
include ../../../components/header/header.pug
include ../../../components/footer-creative/footer-creative.pug
include ../../../components/footer/footer.pug

block variables 
  -
    const pageClass = 'headers-footers'

    const consts = require('./constants.json')                      

block favicons 

block title 
  title Headers&Footers

block header 

block content
  .headers-footers__logo
    .headers-footers__logo-wrapper
      +logo
  .headers-footers__content
    .headers-footers__header.js-headers-footers__header
      +header({ navList: consts.navbarInHeaderEn, loginButtonText: 'login', registerButtonText: 'register' })
    .headers-footers__header.headers-footers__header_logged-in.js-headers-footers__header
      +header({ navList: consts.navbarInHeaderEn, userName: 'Cosmin Negoita' })
    .headers-footers__footer
      +footer({ footerText: 'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.', menuList: consts.footerMenuEn, subscriptionTitle: 'Subscribe to our newsletter', subscriptionText: 'Receive our latest news and promotions in your inbox!', copyrightText: 'Copyright © 2018 Toxin UI Kit. All rights reserved.' })
    .headers-footers__footer-creative
      +footer-creative()

block footer