@import '../../scss/variables.scss';

.text-button {
  background: none;
  border: none;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: bold;
  font-size: inherit;
  padding: 0;
  cursor: pointer;
  user-select: none;
  color: $secondary-color;
  &:hover {
    color: $main-color;
  }
}
