@import '../../scss/variables.scss';

.block-color {
  display: flex;
  font-size: 1.1875rem;
  line-height: 1.8125rem;
  &__color-box {
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 6px;
    &_color {
      &_dark-shade-100 {
        background-color: $main-color-darker;
      }

      &_dark-shade-75 {
        background-color: $main-color-dark;
      }

      &_dark-shade-50 {
        background-color: $main-color;
      }

      &_dark-shade-25 {
        background-color: $main-color-light;
      }

      &_dark-shade-05 {
        background-color: $main-color-lightest;
      }

      &_purple {
        background-color: $secondary-color;
      }

      &_green {
        background-color: $tertiary-color;
      }
    }
  }
  &__description {
    padding: 8px 0 0 40px;
  }
  &__text {
    margin: 0;
    font-family: $secondary-font;
    font-weight: normal;
    &_bold {
      font-weight: bold;
    }
  }
}
