mixin block-color({color, name, rgb})

  .block-color
    .block-color__color(class="block-color__color-" + color)
    .block-color__description
      p(class="block-color__description__name text")= name
      p(class="block-color__description__rgb text")= rgb