mixin block-color(options)

  .block-color
    .block-color__color(class="block-color__color-" + options.color)
    .block-color__text
      .block-color__text__text1= options.text1
      .block-color__text__text2= options.text2