@import '../../scss/colors.scss';
@import '../../scss/fonts.scss';
.text {
  margin: 0;
}
.block-color {
  display: flex;
  font-size: 19px;
  line-height: 29px;
  &__color {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    
    &-dark_shade-100 {
      background-color: $dark-shade-100;
    }

    &-dark_shade-75 {
      background-color: $dark-shade-75;
    }

    &-dark_shade-50 {
      background-color: $dark-shade-50;
    }

    &-dark_shade-25 {
      background-color: $dark-shade-25;
    }

    &-dark_shade-5 {
      background-color: $dark-shade-5;
    }

    &-purple {
      background-color: $purple;
    }

    &-green {
      background-color: $green;
    }
  }
  &__description {
    padding: 8px 0 0 40px;
    &__name {
      font-family: Quicksand, arial, sans-serif;
      font-weight: bold;
    }
    &__rgb {
      font-family: Quicksand, arial, sans-serif;
      font-weight: normal;
    }
  } 
}
