mixin block-color({ color = 'dark-shade-100', colorName = 'Dark Shade 100%', colorHex = '#1F2041' })

  .block-color
    .block-color__color-box(class=`block-color__color-box_color_${color}`)
    .block-color__description
      p.block-color__text.block-color__text_bold= colorName
      p.block-color__text= colorHex