include ../../../pug/variables.pug
include ../../../components/logo/logo.pug
include ../../../components/block-color/block-color.pug
include ../../../components/type/type.pug

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Colors&Type
  body.colors-type
    .colors-type__logo
      .colors-type__wrapper_for-logo
        +logo()
    .colors-type__content
      .blocks-color
        each item in blocksColor
          .blocks-color__block-color
            +block-color(item)
      .types
        each item in types
          .types__type
            +type(item)