@import '../../../scss/variables.scss';

.colors-type {
  &__logo {
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 30px;
    @media (max-width: 1440px) {
      padding-left: 2.1vw;
    }
  }
  &__logo-wrapper {
    position: absolute;
    top: 30px;
  }
  &__content {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 145px;
    @media (max-width: 751px) {
      justify-content: center;
    }
  }
  &__blocks-color {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  &__block-color {
    margin-bottom: 20px;
  }
  &__font-samples {
    display: flex;
    flex-direction: column;
    width: 403px;
    margin-right: 50px;
  }
  &__font-sample {
    margin-bottom: 50px;
  }
}
