extends ../../layout/layout.pug
include ../../../components/logo/logo.pug
include ../../../components/block-color/block-color.pug
include ../../../components/font-sample/font-sample.pug

block variables 
  -
    const pageClass = "colors-type"

    const consts = require('./constants.json')

block favicons 

block title
  title Colors&Type

block header

block content
  .colors-type__logo
    .colors-type__wrapper_for-logo
      +logo()
  .colors-type__content
    .blocks-color
      each item in consts.blocksColor
        .blocks-color__block-color
          +block-color(item)
    .types
      each item in consts.types
        .types__type
          +font-sample(item)

block footer