extends ../../layout/layout.pug
include ../../../components/logo/logo.pug
include ../../../components/block-color/block-color.pug
include ../../../components/font-sample/font-sample.pug

block variables 
  -
    const pageClass = "colors-type"

    const consts = require('./constants.json')

block favicons 

block title
  title Colors&Type

block header

block content
  .colors-type__logo
    .colors-type__logo-wrapper
      +logo()
  .colors-type__content
    .colors-type__blocks-color
      each item in consts.blocksColor
        .colors-type__block-color
          +block-color(item)
    .colors-type__font-samples
      each item in consts.fontSamples
        .colors-type__font-sample
          +font-sample(item)

block footer