.toggle{
  &__label{
    display: inline-block;
    padding-left: 50px;
    font-family: $montserrat;
    font-size: 14px;
    line-height: 20px;
    color: $dark-shade-50;
    cursor: pointer;
  }
  &__input{
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &:checked + .toggle__box{
      border-color: $purple;
    }
    &:checked + .toggle__box::before{
      content: "";
      position: absolute;
      top: 3px;
      left: 23px;
      width: 12px;
      height: 12px;
      border-radius: 10px;
      background: $purple-gradient;
      box-sizing: border-box;
    }
  }
  &__box{
    position: absolute;
    width: 40px;
    height: 20px;
    box-sizing: border-box;
    margin-left: -50px;
    border: 1px solid $dark-shade-25;
    border-radius: 10px;
    background-color: white;
    &::before{
      content: "";
      position: absolute;
      top: 3px;
      left: 3px;
      width: 12px;
      height: 12px;
      // ниже градиент нужен, что бы при снятии чека кругляш не перерисовывался
      background: linear-gradient($dark-shade-25, $dark-shade-25);
      border-radius: 10px;
      box-sizing: border-box;
      transition-duration: 0.3s;
    }
  }
}