mixin toggle({ label = 'string', isChecked = false })

  .toggle
    label.toggle__label
      input.toggle__input(type="checkbox", name=label, checked=isChecked)
      span.toggle__box
      span.toggle__text= label