.social-media {
  display: flex;
  &__icon {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
    width: 1.5rem;
    height: 1.5rem;
    &_twitter {
      background: url(./img/twitter.svg) no-repeat center;
    }
    &_facebook {
      background: url(./img/facebook.svg) no-repeat center;
    }
    &_instagram {
      background: url(./img/instagram.svg) no-repeat center;
    }
  }
}
