mixin social-media()

  .social-media
    a(href="https://twitter.com", target="_blank", rel="noopener noreferrer").social-media__icon.social-media__icon_twitter
    a(href="https://www.facebook.com", target="_blank", rel="noopener noreferrer").social-media__icon.social-media__icon_facebook
    a(href="https://www.instagram.com", target="_blank", rel="noopener noreferrer").social-media__icon.social-media__icon_instagram