@import '../rate-button/rate-button.scss';

.room-card {
  width: 100%;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  overflow: hidden;
  transition: all 0.4s;
  &:hover {
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.4);
  }
  &__preview {
    position: relative;
    &:hover .room-card__arrow {
      opacity: 1;
    }
  }
  &__gallery {
    display: flex;
    transition: all 0.4s;
  }
  &__arrow {
    opacity: 0;
    font-family: $material-icons;
    color: #fff;
    font-size: 24px;
    line-height: 153px;
    text-align: center;
    width: 44px;
    height: 151px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
    cursor: pointer;
    user-select: none;
    transition: all 0.4s;
  }
  &__right-arrow {
    left: auto;
    right: 0;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
  &__circles {
    position: absolute;
    right: 15px;
    bottom: 16px;
  }
  &__circle {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border: 1px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    &:last-child {
      margin-right: 0px;
    }
    &_active {
      background: #fff;
    }
  }
  &__info {
    margin: 14px 17px 19px 20px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-weight: bold;
    font-size: 0.875rem;
    &:last-child {
      align-items: center;
    }
  }
  &__number {
    font-family: $font-secondary-reserve;
    color: $color-main-100;
    font-size: 1.25rem;
    margin-left: 4px;
    &_no-lux {
      margin-right: auto;
    }
  }
  &__lux {
    margin-left: 5px;
    color: $color-secondary;
    font-size: 0.75rem;
    margin-right: auto;
  }
  &__cost {
    color: $color-main-50;
    margin-right: 4px;
  }
  &__for-day {
    color: $color-main-50;
    font-weight: normal;
    font-size: 0.75rem;
  }
  &__border {
    width: 100%;
    border-bottom: 2px solid $color-main-1;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  &__num-of-comments {
    color: $color-main-50;
    margin-right: 4px;
    margin-left: auto;
  }
  &__comments {
    color: $color-main-50;
    font-weight: normal;
    font-size: 0.875rem;
    margin-right: 3px;
    line-height: 0.875rem;
  }
}
