include ../date-dropdown/date-dropdown.pug
include ../dropdown/dropdown.pug
include ../submit-button/submit-button.pug

mixin search-room-card()

  - const consts = require('@components/search-room-card/constants.json')

  .search-room-card.js-search-room-card
    .search-room-card__content
      form(action="/mock-address", method="post")
        .search-room-card__title Найдём номера под ваши пожелания
        .search-room-card__date-dropdown.js-search-room-card__date-dropdown
          +date-dropdown({ type: 'normal', title: 'Прибытие', title2: 'Выезд' })
        .search-room-card__dropdown.js-search-room-card__dropdown  
          +dropdown({ title: 'Гости', elements: consts.dropdownInSearchRoomCard, hasButtons: true, resultDefault: 'Сколько гостей', keyWords: ['гость','гостя','гостей'] })
        .search-room-card__submit-button  
          +submit-button({text: 'Подобрать номер'})