@import '../../components/dropdown/dropdown.scss';
@import '../../components/date-dropdown/date-dropdown.scss';
@import '../../components/calendar/calendar.scss';
@import '../../components/submit-button/submit-button.scss';

.search-room-card{
  background-color: white;
  padding: 40px 30px 30px 30px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  &__title{
    font-family: $opensans;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 30px;
  }
  &__date-dropdown{
    margin-bottom: 20px;
  }
  &__dropdown{
    margin-bottom: 31px;
  }
}