.text-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: $montserrat;
  font-size: 12px;
  &__title {
    text-transform: uppercase;
    font-weight: bold;
    color: $dark-shade-100;
    margin-bottom: 5px;
  }
  &__subtitle{
    text-transform: uppercase;
    color: $dark-shade-50;
  }
  &__input{
    width: 100%;
    height: 44px;
    padding-left: 15px;
    background: #FFFFFF;
    border: 1px solid $dark-shade-25;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: $montserrat;
    font-size: 14px;
    color: $dark-shade-75;
    &-wrapper{
      width: 100%;
      position: relative;
    }
  }
  &__input::placeholder {
    color: $dark-shade-25;
  }
  &__input:focus {
    border-color: $dark-shade-50;
  }
  &__input:hover {
    border-color: $dark-shade-50;
  }
  &__button{
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    font-family: $material-icons;
    font-size: 24px;
    background: $purple-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $purple;
    border: none;
    cursor: pointer;
    &-background{    // белая подложка под стрелку
      background-color: white;
      position: absolute;
      top: 1px;
      right: 1px;
      width: 43px;
      height: 42px;
      border-radius: 4px;
    }
  }
}