@import '../../scss/variables.scss';

.text-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0.75rem;
  &__title {
    text-transform: uppercase;
    font-weight: bold;
    color: $main-color-darker;
    margin-bottom: 5px;
  }
  &__subtitle {
    text-transform: uppercase;
    color: $main-color;
  }
  &__input {
    width: 100%;
    padding: 0.8125rem 0.3125rem 0.6875rem 0.9375rem;
    background: #ffffff;
    border: 1px solid $main-color-light;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: inherit;
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: $main-color-dark;
    outline: none;
    &::placeholder {
      color: $main-color-light;
    }
    &:focus {
      border-color: $main-color;
    }
    &:hover {
      border-color: $main-color;
    }
  }
}
