mixin text-field({title, subtitle, value, placeholder, isSubscription})

  -
    var subscription = ""
    if(isSubscription)
      subscription = "_subscription"

  .text-field(class="text-field" + subscription)
    .text-field__title= title
    .text-field__subtitle= subtitle
    .text-field__input-wrapper
      input.text-field__input(class="text-field__input" + subscription, type="text", placeholder= placeholder, value= value)
      if(isSubscription)
        .text-field__button-background     <!-- Белая подложка под стрелку -->
        button.text-field__button arrow_forward