mixin text-field({title, subtitle, value, placeholder, type="text", isRequired})

  .text-field
    .text-field__title= title
    .text-field__subtitle= subtitle
    input.text-field__input(type= type, placeholder= placeholder, value= value, required= isRequired)